@charset "utf-8";
/* = 首页功能模块
------------------------------------------------------------ */
/* = banner
------------------------------------------------------------ */
#banner { height:350px; }
/* = 网站主页内容列表
------------------------------------------------------------ */
#conList dl { 
	padding-bottom:20px; 
	padding-top:20px;
}
#conList dl dt {
	height:56px;
	text-indent:-9999px;
	padding-bottom:10px;
}
#conList dl dd a {
	display:block;
	height:25px;
	line-height:25px;
	background:url(../images/arrow.gif) no-repeat 20px center;
	color:#666;
	padding-left:40px;
}
#conList dl dd a:hover {
	color:#000;
	text-decoration:underline;
}
#conList dl#newsList dt { background:url(../images/title_newsList.png) no-repeat; }
#conList dl#productsList dt { background:url(../images/title_productsList.png) no-repeat; }
#conList dl#downloadsList dt { background:url(../images/title_downloadsList.png) no-repeat; }
#conList dl#productsList a {
	padding:0;
	background:none;
}