body{
	font-size:12px;
	font-family:"宋体";}
*{margin:0px;
padding:0px;}
ul ,li{
	list-style-type:none}
.bigmain{
	margin:0 auto;
	border-left:1px #000 solid;
	border-right:1px #000 solid;
	width:949px;
	height:2171px;
	}
.head{
	width:949px;
	float:left;
	background:url(images/head.jpg);
	height:350px;}
.headleft{
	padding-top:70px;
	padding-left:50px;
	float:left;
	width:195px;
	height:185px;
	background:url(images/left.jpg); }
.headright{
	float:left;
	background:url(images/right.jpg);
	width:704px;
	height:194px}
.leftmain{

	width:245px;
	float:left;}
.mogu{
	
	float:left;
	padding-bottom:15px;
	height:90px;}
.kuai3{
	padding-top:10px;
	float:left;
	background:url(images/kuai3.jpg);
	height:418px;
	width:178px;
	}
.leftmiandown{
	padding-left:50px;
	width:195px;
	float:left;}
.xian{
	width:185px;
	height:13px;
	float:left;
	overflow:hidden;}
.kuai2{
	padding-left:10px;
	padding-top:20px;
	background:url(images/kuai2.jpg);
	width:168px;
	height:192px;
	float:left;}
.ul4 li{
	border-bottom:1px #666 dashed;
	overflow:hidden;
	line-height:26px;
	float:left;
	width:150px;
	padding-left:5px;
	}
	
.kuai3 li{
	border-bottom:1px #666 dashed;
	overflow:hidden;
	line-height:26px;
	float:left;
	width:130px;
	padding-left:8px;
	background:url(images/tu1.jpg) no-repeat scroll 0px 5px transparent;
	}
.litlelitle{
	font-size:14px;
	font-weight:bold;
	color:#333;
	line-height:39px;
	padding-left:15px;
	float:left;
	background:url(images/title2.jpg);
	width:164px;
	height:39px;}
.rightmain{
	padding-left:20px;
	width:650px;
	float:left;
	}
.kuai{
	padding-right:5px;
	float:left;
	background:url(images/kuai.jpg);
	width:286px;
	height:115px;}
.shu{
	width:30px;
	height:115px;
	float:left}
.image{
	padding-right:10px;
	width:125px;
	height:110px;
	float:left;}
.content{
	border-bottom:1px dashed #666;
	padding-top:10px;
	width:141px;
	height:67px;
	float:left;}
.buttom2{
	color:#FFF;
	line-height:24px;
	text-align:center;
	float:right;
	background:url(images/buttom2.jpg);
	width:58px;
	height:25px;}
.title{
	line-height:35px;
	color:#73933f;
	font-size:14px;
	font-weight:bold;
	padding-left:15px;
	background:url(images/title.jpg);
	width:597px;
	height:35px;
	float:left;}
	
.buttom{
	line-height:30px;
	padding-left:30px;
	text-align:center;
	width:870px;
	float:left;
	height:70px;}
.kuan{
	line-height:21px;
	width:845px;
	height:21px;
	float:left;
	border:1px #333 solid}
.toppic{
	padding-left:15px;
	padding-top:30px;
	background:url(images/toppic.jpg);
	width:164px;
	height:127px;
	float:left;}

.toppic li{
	border-bottom:1px #666 dashed;
	overflow:hidden;
	line-height:20px;
	float:left;
	width:130px;
	padding-left:18px;
	background:url(images/jiang.jpg) no-repeat scroll 0px 5px transparent;}
.ul1{
	padding-left:15px;
	float:left;
	
	
	width:178px;}
.ul2{float:left;
	padding-left:15px;
	
	width:178px;}
.ul3{
	float:left;
	padding-left:15px;
	
	width:178px;}
.ul2 li{
	border-bottom:1px #666 dashed;
	overflow:hidden;
	line-height:26px;
	float:left;
	width:130px;
	padding-left:5px;
	background:url(images/tu2.jpg) no-repeat scroll 0px 5px transparent;}
.ul3 li{
	border-bottom:1px #666 dashed;
	overflow:hidden;
	line-height:26px;
	float:left;
	width:130px;
	padding-left:5px;
	background:url(images/tu3.jpg) no-repeat scroll 0px 5px transparent;}
.litltemeun{
	padding-bottom:130px;
	width:250px;;
	float:right;
	height:12px;}
a,a:visited,a:link{
	text-decoration:none; color:#000}
a:hover{
	text-decoration:none; color:#999}
.buttom2 a,.buttom2 a:visited,.buttom2 a:link{
	color:#fff; text-decoration:none;}
.buttom2 a:hover{
	text-decoration:none; color:#CCC}

.menu{
	font-size:14px;
color:#FFF;
	padding-left:315px;
	padding-top:59px;
	width:490px;
	float:left;
	height:50px;}
.menu li{
	font-weight:bold;
	color:#FFF;
	
	font-size:14px;
	line-height:50px;
	text-align:center;
	float:left;
	width:98px;
	height:50px;
	}
.menu li a {
	color:#FFF; text-decoration:none}

.menu li a:hover{
	color:#333; text-decoration:none}
	