*{
	margin:0px;
	padding:0px;}
body{
	font-size:12px;
	font-family:"宋体";}
.bigmain{
	
	margin:0 auto;
	width:907px;
	height:900px;
	
	}
.leftbian{
	float:left;
	width:5px;
	background:#6fa1cc;
	height:830px}
.leftcontnet{
	background:url(img/leftbaing.jpg);
	width:183px;
	float:left;
	height:811px;}
.leftcintenttoppic{
	background:url(img/logo.jpg);
	width:176px;
	height:120px;
	float:left;
	}
.logo{
	width:172px;
	height:145px;
	float:left;
	}
.logotop{
	background:url(img/lu7.jpg);
	float:left;
	width:172px;
	height:13px}
.logobuttom{
	float:left;
	width:172px;
	background:url(img/lu13.jpg);
	height:16px;}
.logomidd{
	background:url(img/lu27.jpg);
	width:172px;
	float:left;
	height:89px;
	float:left;}
.lianxi{
	float:left;
	width:165px;
	height:59px;
	background:#efefe7;
	padding-left:6px;
	margin-bottom:20px;}
.title{
	float:left;
	width:170px;
	background:url(img/lu5.jpg) no-repeat;
	height:42px;}
.sousuo{
	float:left;
	width:172px;
	height:67px;
	
	margin-bottom:45px;
	}
.sousoutop{
	
	background:url(img/lu22.jpg);
	height:14px;
	width:172px;
	float:left;}
.sousoubuttom{
	background:url(img/lu13.jpg);
	width:172px;
	height:16px;
	float:left;
	
	}
.sousoumidd{
	line-height:25px;
	padding-left:20px;
	float:left;
	width:152px;
	height:45px;
	background:url(img/lu27.jpg);
	
	}
.tilte2{
	
	float:left;
	width:172px;
	background:url(img/lu6.jpg) no-repeat;
	height:41px;
	margin-bottom:20px;}
.lu{
	width:172px;
	text-align:center;
	float:left;
	line-height:25px;}
.lutop{
	margin-bottom:15px;}
.rightmain{
	padding-top:30px;
	padding-left:190px;
	float:left;
	width:529px;
	background:url(img/001.jpg) no-repeat;
	height:290px;}
	.rightmaindown{
		width:177px;
		float:left;
		height:177px;
		background:url(img/177177.jpg);}
	.rightmaindownright{
		padding-left:10px;
		padding-top:42px;
		float:left;
		width:530px;
		background:url(img/99.jpg)  repeat-x;
		height:135px;}
	.rightdowncontent{
		width:326px;
		float:left;}
.title3{
	padding-top:20px;
	background:url(img/gonsi.jpg) no-repeat;
	width:326px;
	height:18px;}
.list{
	float:left;
	width:325px;
	height:95px;}
.list ul{
	width:325px;
	height:23px;
	}
.list li{
	width:325px;
	height:23px;
	line-height:23px;
	float:left;
	list-style-type:none;
	border-bottom:1px #CCC dashed;}
.maindownpic{
	overflow:hidden;
	width:177px;
	height:315px;
	float:left;}
.picmaindown{
	text-align:center;
	padding-top:15px;
	float:left;
	width:179px;
	height:263px;
	background:url(img/lu4.jpg)}
.picright{
	padding-left:10px;
	float:left;
	width:326px;
	height:315px;}
.title4{
	margin-top:10px;
	padding-top:20px;
	background:url(img/154.jpg) no-repeat;
	width:326px;
	height:18px;
	}
.bigdiv{
	margin-top:20px;
	border:1px #CCC solid;
	float:left;
	width:326px;
	height:95px;}
.bigdivcontent{
	
	width:245px;
	float:left;}
.bigdivcontent ul{
	
	line-height:24px;
	height:24px;}
.bigdivcontent li{
	list-style-type:none;
	padding-left:15px;
	background:url(img/lu564.jpg) no-repeat scroll 0 8px transparent;
	}
.litlediv{
	margin-top:20px;
	float:left;
	width:326px;
	height:130px;
}
.div{
	padding-top:10px;
	width:326px;
	height:76px;
	float:left;}
.for{
	float:left; width:150px;
	padding-top:5px;
	padding-left:10px;
	color:#464646;
	line-height:20px;}
.s11{
	width:180px;
	float:right;
	height:265px;
	margin-top:45px;
	padding-right:10px;}
.buttom{
	float:left;
	width:907px;;
	height:60px;
	background:#e8e8e8;
	padding-top:10px;
	color:#464646;
	text-align:center}

.list a,.list a:visited,.list a:link{
	text-decoration:none;
	color:#464646;}
.list a:hover{
	text-decoration:underline;
	color:#999;}
.bigdivcontent a,.bigdivcontent a:visited,.bigdivcontent a:link{
	text-decoration:none;
	color:#464646;}
.bigdivcontent a:hover{
	text-decoration:underline;
	color:#999;}
	
.div a,.div a:visited,.div a:link{
	text-decoration:none;
	color:#464646;}
.div a:hover{
	text-decoration:underline;
	color:#999;}

.menu a,.menu a:visited,.menu a:link{
	text-decoration:none;
	color:#FF0;}
.menu a:hover{
	text-decoration:underline;
	color:#CF3;}