@charset "utf-8";
* {
	margin:0;
	padding:0;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	background:#032d57 url(../images/bg_body.jpg) repeat-x;
	color:#404040;
}
ul {
	list-style:none;
}
#bgIndex {
	background:url(../images/bg_index.jpg) no-repeat top center;
	height:482px;
	position:relative;
	width:840px;
	margin:0 auto;
}
#navMain {
	position:absolute;
	top:80px;
	height:36px;
	line-height:36px;
	left:269px;
}
#navMain li {
	float:left;
}
#navMain li a {
	display:block;
	text-indent:-9999px;
	width:102px;
	margin-right:3px;
}
#oracle{
	position:absolute;
	width:456px;
	height:295px;
	display:block;
	top: 154px;
	left:206px;
	text-indent:-9999px;
}
#peopel{background:url(../images/peopel.jpg) repeat-x; height:153px;}
#header {
	background:url(../images/bg_header.jpg) no-repeat;
	height:70px;
	margin:0 auto;
	width:800px;
	padding:20px 20px 0 20px;
	position:relative;
}
#header #logo {
	text-indent:-9999px;
}
#nav {
	position:absolute;
	right:20px;
	top:54px;
	width:auto;
	width:315px;
	background:url(../images/bg_nav.gif) no-repeat;
	height:36px;
	line-height:36px;
}
#nav li {
	float:left;
}
#nav li a {
	display:block;
	text-indent:-9999px;
	width:102px;
	margin-right:3px;
}
#nav li #a:hover {
	background:url(../images/bg_nav.gif) no-repeat left -36px;
}
#nav li #b:hover {
	background:url(../images/bg_nav.gif) no-repeat -105px -36px;
}
#nav li #c:hover {
	background:url(../images/bg_nav.gif) no-repeat -210px -36px;
}
#content {
	margin:0 auto;
	width:838px;
	background:#f5f5f5;
	border:1px solid #ebebeb;
}
#content li {
	padding:20px;
	border-top:1px solid #ebebeb;
}
#content li.color {
	background:#fff;
}
#content h1 {
	color:#0e4e9b;
	font-size:14px;
	height:70px;
	background:url(../images/icon.gif) no-repeat;
	padding-left:36px;
	line-height:70px;
}
#content p {
	line-height:180%;
	padding:10px 0;
	text-indent:24px;
}
#content strong {
	background:#39c;
	color:#fff;
	width:100px;
	text-align:center;
}
#footer {
	background:url(../images/bg_footer.jpg) no-repeat;
	height:70px;
	margin:0 auto;
	width:800px;
	padding:20px 20px 0 20px;
}
