*{ margin:0; padding:0;}
body{ font-family:Verdana, Arial, "宋体", sans-serif; font-size:12px;}
img{ border:0;}
.clear{ clear:both;}
ul{ list-style:none;}
a{ color:#000; text-decoration:none;}
a:hover{ color:#f00; text-decoration:underline;}
