@charset "utf-8";
/* CSS Document */
*{margin:0px; padding:0px}
body{font-family:"宋体 "; font-size:12px; color:#000}
img{border:none}
#container{width:770px; margin:0 auto; height:auto; background-color:#000;}
#top{width:770px; height:89px; background:url(../images/top_bg.jpg) repeat-x scroll 0 0}
  #logowrap{  width:100%;   height:58px;   line-height:57px}
    #logo{width:171px; height:38px; margin-top:10px; margin-left:10px; float:left}
#banner{width:334px; height:55px; float:right; margin-top:3px; background:url(../images/007.jpg) no-repeat scroll 0 0}
  #menu{  width:100%;   height:26px;   line-height:26px;   font-family:"黑体 ";   font-size:15px}
  #menu ul{
	list-style:none;
	height:26px;
	width:750px;
	margin-left:0px
}
ul#nav li.dir ul li{margin:0;}
  #menu li{  display:block;   float:left;   margin-left:18px;   height:26px;   line-height:26px}
  #menu .spacer{  height:26px;   width:1px;   background:url(../images/spacer.gif) no-repeat}
#main{width:100%; background:url(../images/center_bg.jpg) repeat-x; clear:both;}
  #left{  width:222px; overflow:hidden;  float:left}
     #news{ width:222px;  height:44px;  padding-top:42px}
 #leftcontent{ width:207px;  margin-left:15px;  margin-top:20px;  color:#fff}
 #leftcontent ul{color:#fff; margin-left:20px; list-style-type:none}
 #leftcontent  li{ display:block;  float:left;  margin-right:10px;  list-style:none}
 #leftcontent  li img{ border:5px solid #fff}
 #leftcontent  li p{ width:90px;  line-height:1.2;  margin-top:3px}
  span{ color:#9FD911}
  #center{  width:222px; padding-left:40px;   float:left; overflow:hidden;}
  #center h2{font-size:15px; font-family:"黑体 "; color:#C8C8C8; height:25px; line-height:25px; padding-top:14px; padding-bottom:3px; width:222; padding-left:5px}
 .pic{width:262px; height:171px; background:url(../images/center_01.jpg) no-repeat scroll -40px 0}
#centercontent{width:193px; background:url(../images/center_bg01.gif) repeat-y scroll 0 0}
#centercontent h2{font-size:12px; color:#fff; font-weight:normal; height:20px; line-height:20px; text-decoration:underline; margin:0 10px; padding:0}
#centercontent div{padding-top:5px;padding-left:8px;}
#centercontent div a{color:#fff;}
#centercontent div img{padding-right:10px;}
.centerproduce{width:183px; border-bottom:1px solid #fff}
.centerproduce p{  width:160px; padding-left:10px;   line-height:1.5; letter-spacing:1px;   color:#000;   text-indent:2em;   margin-top:10px;   margin-bottom:10px}
  #right{  width:286px!important;width:276px;   float:left}
  #right h1{    font-size:24px; font-family:"黑体 "; color:#C8C8C8; height:25px; line-height:25px; padding-top:37px; letter-spacing:1px;  width:156; padding-left:130px!important;padding-left:120px; font-weight:normal}
  #right h4{    font-size:18px; font-family:"黑体 "; color:#C8C8C8; height:25px; line-height:25px; letter-spacing:1px; width:126!important;width:116px; padding-left:160px!important;padding-left:150px; font-weight:100}
  #right h6{  font-size:12px;   color:#C8C8C8;   padding-top:20px;   font-weight:normal; padding-left:10px}
  #produce{  width:286px!important;width:276px;   height:380px;   background:url(../images/right_bg.jpg) no-repeat}
  #produce p{  width:250px!important;width:240px;   margin-left:10px; letter-spacing:1px;   line-height:1.5;   color:#C8C8C8;   text-indent:2em}
  .pnext{  margin-top:20px}
#bottomSlide{width:100%; height:12px; float:left;position:relative;top:-4px!important;top:-6px;}
#footer{float:left; width:100%; height:75px; position:relative; background:url(../images/footer_bg.gif) no-repeat scroll 0 0;top:-6px;}/* 版权信息*/
#footer  ul{list-style:none; width:462px; height:35px; line-height:35px; font-size:14px; font-family:"黑体 "}
#footer li{display:block; float:left; width:92px;text-align:center}
  #logobottom{background:url("../images/logo_01.jpg") no-repeat scroll 0 0 transparent;  height:44px;  position:absolute;  right:15px;  top:3px;  width:178px}
 #copy{ float:right;  padding-right:20px;  padding-top:10px;  color:#474747}/* 版权信息*/



a,a:link,a:visited,a:active{
	text-decoration:none;
	color:#000
}
a:hover{text-decoration:none;
color:#F00}
#left a,#left a:link{text-decoration:none;
color:#0FF}
#left a:hover{text-decoration:none;
color:#F00
}
#centercontent a,#centercontent a:link {text-decoration:none;
color:#FFF} 
#centercontent a:hover {text-decoration:none;
color:#00F} 
