#wrap {
	width:970px;
	margin:0 auto;
}
#header {
	padding-top:80px;
	position:relative;
}
#logo {
	position:absolute;
	top:5px;
	left:5px;
}
#header span img {
	position:absolute;
	top:5px;
	right:0;
}
#top_nav {
	padding-left:130px;
	height:25px;
}
#top_nav ul li {
	float:left;
	text-align:center;
}
#top_nav ul li a {
	display:block;
	width:71px;
	background:url(../images/ma.gif) no-repeat;
	height:25px;
	line-height:25px;
	margin-right:5px;
	color:#136100;
}
#top_nav ul li a:hover {
	text-decoration:underline;
}
#top_nav ul li a#current {
	background:url(../images/m1.gif) no-repeat;
	color:#fff;
	font-weight:bold;
	text-decoration:none;
}
#top_nav ul li a:hover#current {
	text-decoration:underline;
}
#search {
	background:url(../images/se_m.gif) repeat-x;
	position:relative;
}
#search div {
	margin:0 75px;
}
#search #sear {
	width:340px;
	margin:15px 3px 0 0;
	height:20px;
	padding-top:1px;
}
#search #lx {
	height:24px;
	line-height:26px;
}
#search .btn {
	height:26px;
	position:absolute;
	top:15px;
	left:506px;
}
#search .fm_r {
	position:absolute;
	top:24px;
	left:590px;
}
#search .fm_r li {
	float:left;
	margin-right:6px;
}
#search .fm_r li a {
	color:#ff0;
}
#search .fm_r .t_under a {
	color:#fff;
	text-decoration:underline;
}
#b_nav {
	padding:8px 0 8px 30px;
	width:800px;
}
#b_nav li {
	display:inline;
	margin-right:3px;
	color:#fff;
}
#b_nav li a {
	color:#fff;
}
#gb {
	height:23px;
	background:#eee;
	border-bottom:1px solid #ccc;
	position:relative;
}
.ts {
	height:23px;
	line-height:23px;
	background:url(../images/gg.gif) no-repeat left center;
	padding-left:20px;
}
.red a {
	color:#f00;
}
#gb ul {
	display:inline;
	position:absolute;
	top:4px;
	left:600px;
}
#gb ul li {
	display:inline;
	margin-right:70px;
	background:url(../images/arrow1.gif) no-repeat;
	padding-left:15px;
}
#gb ul li span {
	margin-right:10px;
}
#gb ul li a {
	margin-right:4px;
}
#content {
	margin-top:5px;
}
#side {
	width:252px;
	float:left;
}
#main {
	width:711px;
	margin-left:7px;
	float:left;
}
.bord_1 {
	border:1px solid #73c151;
}
.bord_2 {
	border:1px solid #f19901;
}
.more, .more_1 {
	position:absolute;
	top:5px;
	right:5px;
}
.more a {
	color:#187a01;
}
.more_1 a {
	color:#fff;
}
#xbtj, #xzph, #mztj, #lttz, #sjtj {
	width:250px;
}
#xzph, #mztj, #lttz, #sjtj {
	margin-top:8px;
}
.h2_1 {
	font-size:12px;
	text-indent:14px;
	height:27px;
	line-height:27px;
	background:url(../images/bg_green1.gif) repeat-x;
	color:#fff;
}
.h2_2 {
	font-size:12px;
	text-indent:14px;
	height:27px;
	line-height:27px;
	background:url(../images/bg_ggreen1.gif) repeat-x;
	color:#187a01;
}
.h2_3 {
	font-size:12px;
	text-indent:14px;
	height:27px;
	line-height:27px;
	background:url(../images/bg_orange1.gif) repeat-x;
	color:#fff;
}
#xbtj {
	height:400px;
	background:#f8fff8;
}
#xbtj div {
	width:246px;
}
#xbtj ul li {
	padding:11px 0;
	border-bottom:1px dashed #7cbc6e;
	line-height:125%;
}
#xbtj ul li.last {
	border-bottom:none;
}
#xbtj a img {
	width:32px;
	height:32px;
	padding:1px;
	margin:0 5px;
	float:left;
}
#xbtj a:hover img {
	width:30px;
	height:30px;
	border:1px solid #999;
}
#tab {
	width:250px;
	text-align:left;
	height:535px;
	background:#f8fff8;
	margin-top:8px;
	position:relative;
	border:1px solid #73c151;
}
ul.tabU li {
	display:inline;
}
ul.tabU li a {
	color:#000;
	font-weight:bold;
	float:left;
	display:block;
	width:90px;
	background:url(../images/bg_green1.gif) repeat-x;
}
div.tabC {
	display:none;
	padding:6px;
}
ul.tabU li a:hover, div.tabD1 a.tabB1, div.tabD2 a.tabB2 {
	background:url(../images/huan_bt11.gif) repeat-x;
	color:#167b01;
}
div.tabD1 a.tabB1:hover, div.tabD2 a.tabB2:hover {
	color:#167b01;
}
div.tabD1 div.tabC1, div.tabD2 div.tabC2 {
	display:block;
}
div.tabD1 div.tabC1 ul, div.tabD2 div.tabC2 ul {
	padding-top:10px;
	border-bottom:1px dashed #7cbc6e;
}
div.tabD1 div.tabC1 ul.last, div.tabD2 div.tabC2 ul.last {
	border-bottom:none;
}
div.tabD1 div.tabC1 ul li, div.tabD2 div.tabC ul li {
	padding:0 0 5px 10px;
	line-height:145%;
}
#mztj {
	height:272px;
}
#mztj div {
	padding:10px;
	text-align:center;
}
#mztj h1 a img {
	padding:1px;
	margin-bottom:10px;
}
#mztj h1 a:hover img {
	width:173px;
	height:135px;
	border:1px solid #999;
}
#mztj p {
	padding-bottom:7px;
}
.duan {
	text-indent:2em;
	line-height:160%;
	text-align:left;
}
#lttz {
	height:315px;
	position:relative;
	background:#f8fff8;
}
#lttz ul {
	padding:8px 0 0 10px;
}
#lttz ul li {
	padding-bottom:4px;
	line-height:160%;
}
#sjtj {
	height:237px;
	background:#f8fff8;
}
#sjtj h1 {
	text-indent:1em;
	padding-top:5px;
}
#sjtj ul {
	padding:10px 0 0 45px;
}
#sjtj ul li {
	background:url(../images/dot1.gif) no-repeat;
	padding-left:20px;
	color:#187a01;
	padding-bottom:7px;
}
#sjtj ul li span {
	color:#f00;
	margin-left:5px;
	font-size:12px;
	font-family:"宋体";
}
.row_1 {
	float:left;
	margin-right:7px;
}
.row_2 {
	float:left;
}
#bzupdate {
	width:470px;
	height:270px;
	position:relative;
	background:#f9f9f9;
}
#bzupdate ul {
	padding-top:6px;
}
#bzupdate ul li {
	padding:0 0 4px 10px;
	position:relative;
	line-height:128%;
}
#bzupdate ul li a {
	font-size:13px;
}
#bzupdate ul li .lx, #bzupdate ul li .lx a {
	color:#666;
}
#bzupdate ul li .lx {
	margin-right:10px;
}
#bzupdate ul li .name a {
	color:#000;
}
#bzupdate ul li .rq {
	color:#8b8b8b;
	position:absolute;
	top:0;
	right:10px;
}
#tw {
	width:470px;
	height:120px;
	margin-top:8px;
}
#tw div {
	width:100px;
	padding:10px 5px 5px 11px;
	float:left;
	font-size:12px;
}
#tw div a {
	display:block;
	width:100px;
}
#jpsoft {
	height:218px;
	width:230px;
	position:relative;
}
#jpsoft img {
	width:20px;
	height:20px;
	vertical-align:middle;
	margin-right:8px;
}
#jpsoft ul {
	padding:5px 0 0 5px;
}
#jpsoft ul li {
	padding-bottom:3px;
}
#qita {
	height:172px;
	width:230px;
	margin-top:8px;
}
#qita ul {
	padding:10px 0 0 20px;
}
#qita ul li {
	padding-bottom:7px;
}
#qita ul li a {
	color:#1e54ae;
}
#tabt {
	height:399px;
	width:709px;
	margin-top:8px;
	float:left;
	position:relative;
	border:1px solid #73c151;
}
ul.tabU1 li {
	display:inline;
}
ul.tabU1 li a {
	color:#000;
	font-weight:bold;
	float:left;
	display:block;
	width:90px;
	background:url(../images/bg_green1.gif) repeat-x;
}
div.tabtE {
	display:none;
}
ul.tabU1 li a:hover {
	color:#f00;
}
div.tabtD1 a.tabtB1, div.tabtD2 a.tabtB2 {
	background:url(../images/huan_bt11.gif) repeat-x;
	color:#167b01;
}
div.tabtD1 a.tabtB1:hover, div.tabtD2 a.tabtB2:hover {
	color:#106b01;
}
div.tabtD1 div.tabtE1, div.tabtD2 div.tabtE2 {
	display:block;
}
div.tabtE {
	padding:3px;
}
div.tabtE1 table, div.tabtE2 table {
	width:700px;
	height:370px;
	border-collapse:collapse;
}
div.tabtE1 table th, div.tabtE2 table th {
	background:#eefceb;
	color:#DEFBCE;
	height:25px;
}
div.tabtE table th a {
	color:#187a01;
}
div.tabtE1 table td, div.tabtE2 table td {
	text-align:center;
}
.col1 {
	margin-top:8px;
	float:left;
}
#softjc {
	width:220px;
	height:200px;
	float:left;
	position:relative;
}
#softjc ul {
	padding:10px 0 0 10px;
}
#softjc ul li {
	padding-bottom:5px;
}
#softjc span {
	position:absolute;
	bottom:5px;
	right:5px;
}
#softjc span a {
	color:#00f;
}
#softjc span.more_1 a {
	color:#fff;
}
#hysoft {
	width:480px;
	height:200px;
	float:left;
	margin-left:7px;
}
#hysoft .lef, #hysoft .rigf {
	float:left;
	width:240px;
}
#hysoft .lef {
	border-right:1px solid #fe9901;
}
#hysoft ul {
	padding-top:10px;
}
#hysoft ul li {
	padding:10px 5px 10px 3px;
	border-bottom:1px dashed #333;
}
#hysoft ul li.last {
	border-bottom:none;
}
#hysoft ul li img {
	float:left;
	margin:0 10px;
}
#softfl {
	width:709px;
	height:410px;
	margin-top:8px;
	float:left;
	position:relative;
	background:#f8fff8;
}
#softfl .fl_l, #softfl .fl_r {
	float:left;
	width:354px;
}
#softfl .fl_l {
	border-right:1px dashed #73c151;
}
#softfl h3 {
	font-size:12px;
	padding-bottom:5px;
	background:url(../images/arrow2.gif) no-repeat;
	padding-left:20px;
}
#softfl h3 a {
	color:#000;
	text-decoration:underline;
}
#softfl h3 a:hover {
	color:#c00;
}
#softfl .fl_l ul {
	padding:10px 10px 5px 15px;
}
#softfl ul {
	height:48px;
}
#softfl ul li {
	display:inline;
	margin-right:3px;
}
#softfl ul li a {
	color:#6b6b6b;
	display:inline-block;
}
#softfl ul li a:hover {
	text-decoration:underline;
}
#softfl .fl_r ul {
	padding:10px 10px 5px 10px;
}
#tabUpdate {
	width:709px;
	height:350px;
	margin-top:8px;
	float:left;
	border:1px solid #73c151;
	position:relative;
}
ul.tabB {
	float:left;
	background:#eaf8e6;
}
ul.tabB li {
	border-bottom:1px solid #5cbb47;
	width:63px;
	height:26px;
	line-height:26px;
	text-align:center;
	border-right:1px solid #5cbb47;
}
ul.tabB li.nounder {
	border-top:none;
	border-right:none;
}
ul.tabB li a {
	display:block;
	width:63px;
	color:#006600;
	border-right:1px solid #5cbb47;
}
ul.tabB li a:hover {
	display:block;
	width:63px;
	border-right:none;
	color:#f00;
	text-decoration:none;
}
div.tabUpdateC {
	display:none;
	padding:6px;
}
div.tabUpdateD1 a.tabUpdateB1, a.tabUpdateB1:hover, div.tabUpdateD2 a.tabUpdateB2, a.tabUpdateB2:hover, div.tabUpdateD3 a.tabUpdateB3, a.tabUpdateB3:hover, div.tabUpdateD4 a.tabUpdateB4, a.tabUpdateB4:hover, div.tabUpdateD5 a.tabUpdateB5, a.tabUpdateB5:hover, div.tabUpdateD6 a.tabUpdateB6, a.tabUpdateB6:hover, div.tabUpdateD7 a.tabUpdateB7, a.tabUpdateB7:hover, div.tabUpdateD8 a.tabUpdateB8, a.tabUpdateB8:hover, div.tabUpdateD9 a.tabUpdateB9, a.tabUpdateB9:hover, div.tabUpdateD10 a.tabUpdateB10, a.tabUpdateB10:hover, div.tabUpdateD11 a.tabUpdateB11, a.tabUpdateB11:hover, div.tabUpdateD12 a.tabUpdateB12, a.tabUpdateB12:hover {
	background:#fff;
	border-right:none;
}
div.tabUpdateD1 ul.tabB li, div.tabUpdateD2 ul.tabB li, div.tabUpdateD3 ul.tabB li, div.tabUpdateD4 ul.tabB li, div.tabUpdateD5 ul.tabB li, div.tabUpdateD6 ul.tabB li, div.tabUpdateD7 ul.tabB li, div.tabUpdateD8 ul.tabB li, div.tabUpdateD9 ul.tabB li, div.tabUpdateD10 ul.tabB li, div.tabUpdateD11 ul.tabB li, div.tabUpdateD12 ul.tabB li {
	border-right:none;
}
.tabUpdateC ul {
	width:310px;
	float:left;
	font-family:"宋体";
	padding-left:10px;
}
.tabUpdateC ul li {
	height:26px;
	line-height:26px;
	border-bottom:1px solid #ddd;
	padding-bottom:2px;
	position:relative;
}
.tabUpdateC ul li.last {
	border-bottom:none;
}
.tabUpdateC ul li .lx {
	margin-right:10px;
}
.tabUpdateC ul li .lx a {
	color:#666;
}
.tabUpdateC ul li .rq {
	position:absolute;
	top:0;
	right:0;
}
.tabUpdateC ul li .rq {
	color:#8b8b8b;
}
div.tabUpdateD1 div.tabUpdateC1, div.tabUpdateD2 div.tabUpdateC2, div.tabUpdateD3 div.tabUpdateC3, div.tabUpdateD4 div.tabUpdateC4, div.tabUpdateD5 div.tabUpdateC5, div.tabUpdateD6 div.tabUpdateC6, div.tabUpdateD7 div.tabUpdateC7, div.tabUpdateD8 div.tabUpdateC8, div.tabUpdateD9 div.tabUpdateC9, div.tabUpdateD10 div.tabUpdateC10, div.tabUpdateD11 div.tabUpdateC11, div.tabUpdateD12 div.tabUpdateC12 {
	display:block;
}
div.tabtD1 div.tabtE1, div.tabtD2 div.tabtE2 {
	display:block;
}
#footer {
	margin:8px 0;
}
#js {
	background:#f6f6f6;
	width:970px;
	height:45px;
	margin-bottom:10px;
}
#js ul {
	width:948px;
	height:28px;
	margin:0 auto;
	padding-top:8px;
	background:#f8fff8;
}
#js ul li.zm {
	border:1px solid #8cd06f;
	width:140px;
	background:#eaf8e6;
}
#js ul li {
	display:block;
	border-width:1px 1px 1px 0;
	text-align:center;
	border-style:solid;
	border-color:#8cd06f;
	height:28px;
	width:30px;
	line-height:28px;
}
#js ul li {
	float:left;
}
#footer p {
	text-align:center;
	color:#6b6b6b;
	padding-bottom:10px;
}
#footer p span {
	margin-left:80px;
}
#beian {
	width:968px;
	border:1px solid #8cd06f;
	background:#f8fff8;
}
#beian div {
	margin:10px 200px;
}
#beian div img {
	float:right;
}
