@charset "utf-8";
* {
	margin:0;
	padding:0;
}
ul { list-style:none; }
html, body {
	height:100%;
	overflow:hidden;
}
img { border:none; }
table {
	width:100%;
	border-collapse:collapse;
	border:1px solid #ccc;
}
th, td {
	border:1px solid #ccc;
	height:25px;
	line-height:25px;
	padding:0 5px;
}
thead th {
	text-align:left;
	background:url(../images/thead_th.gif) repeat-x;
}
tbody th {
	text-align:right;
	background:#f7f7f7;
	color:#39c;
	font-weight:normal;
}
.table_B tbody th {
	text-align:center;
	font-weight:bold;
}
.north, .west, .east, .south { position:absolute; }
.north {
	background:#fff url(../images/bg_north.jpg) no-repeat;
	z-index:100;
}
.west { background: #CBE7FE; }
.east { background: #fff url(../images/welcome.gif) no-repeat; }
.south {
	background:url(../images/bg_south.png) no-repeat;
	z-index:100;
}
.north {
	height:100px;
	top:0;
	left:0;
	right:0;
	min-width:1000px;
}
.west {
	width:200px;
	top:100px;
	left:0;
	bottom:30px;
}
.east {
	top:100px;
	left:200px;
	bottom:30px;
	right:0;
	_padding-bottom:26px;
}
.south {
	height:30px;
	left:0;
	bottom:0;
	right:0;
	height:30px;
}
.breadcrumbs {
	position:absolute;
	top:100px;
	left:200px;
	right:0;
	height:25px;
	background:#eee;
	z-index:100;
	display:none;
}
.north_inner, .west_inner, .east_inner, .south_inner {
	height:100%;
	overflow:auto;
}
.copyright {
	text-align:center;
	height:30px;
	line-height:30px;
	color:#333;
}
.north_inner { background:url(../images/bg_menu_main.jpg) repeat-x left bottom; }
.west_inner { border-right:1px solid #999; }
.east_inner { border-left:1px solid #fff; }
.south_inner { border-top:1px solid #d4d9dd; }
#login_bar {
	position:absolute;
	top:10px;
	right:10px;
	height:18px;
	line-height:18px;
	color:#666;
}
#login_bar strong {
	color:red;
	padding:0 5px;
}
#login_bar a {
	margin-left:20px;
	color:#000;
}
#login_bar a:hover {
	color:#f90;
}
