@charset "utf-8";
/* CSS Document */
* { margin:0; padding:0;}
img { border:none;}
body {
	font-family:"宋体";
	font-size:12px;
	background:url(../images/bg.gif) repeat-x scroll 0 0 #DFD3B5;
}
a {
	text-decoration:none;
	color:#000;
}
a:hover {
	color:#C2AE7C;
	text-decoration:underline;
}
#container {
	width:778px;
	margin:0 auto;
	margin-top:30px;
	background:url(../images/con_bg.gif) repeat-y scroll 0 0;
}
#top {
	width:778px;
	height:154px;
	background:url(../images/banner_01.jpg) no-repeat scroll 0 0;
}
   #logo {
	   padding:0 0 0 11px;
	   width:235px;
	   height:109px;
   }
#banner {
	width:778px;
	height:193px;
	background:url(../images/banner.jpg) no-repeat scroll 0 0;
}
  #menu {
	  padding-left:9px;
	  font-size:14px;
	  color:#fff;
  }
  #menu ul {
	  list-style:none;
	  padding-top:10px;
  }
  #menu li {
	  height:31px;
	  line-height:31px;
	  text-indent:48px;
	  vertical-align:bottom;
  }
  #menu li a{
	  height:31px;
	  line-height:28px;
	  text-indent:48px;
	  vertical-align:bottom;
	  color:#fff;
	  text-decoration:none;
	  display:block;
	  background:url(../images/lbg_02.gif) no-repeat scroll 0 0;
  }
  #menu li a.checked{
	  height:31px;
	  line-height:28px;
	  text-indent:48px;
	  vertical-align:bottom;
	  color:#D4B188;
	  text-decoration:none;
	  display:block;
	  background:url(../images/lbg_01.gif) no-repeat scroll 0 0;
  }
  #menu li a:hover{
	  height:31px;
	  line-height:28px;
	  text-indent:48px;
	  vertical-align:bottom;
	  color:#D4B188;
	  text-decoration:none;
	  background:url(../images/lbg_01.gif) no-repeat scroll 0 0;
  }
#main {
	width:778px;
}
   #left {
	   width:235px;
	   float:left;
	   margin-left:9px;
	   display:inline;
	   background:url(../images/left_bg.jpg) repeat-y scroll 0 0;
	   overflow:hidden;
   }
     #lefttop {
		 width:234px;
		 height:18px;
		 background-color:#CDC4AA;
	 }
	#left .span {
		color:#AE821D;
		font-weight:bold;
		padding:8px 0 0 8px;
	}
	#left p {
		padding:8px 15px 0 8px;
		line-height:1.4;
	}
	  #spiders {
		  width:233px;
		  height:8px;
		  padding-top:8px;
		  background:url(../images/spider.jpg) no-repeat center center;
	  }
   #right {
	   width:494px;
	   float:left;
	   padding-left:33px;
   }
      #consult {
		  width:490px;
		  height:155px;
		  padding-top:5px;
	  }
	  #consult .img {
		  padding-top:10px;
		  width:174px;
		  height:140px;
		  float:left;
	  }
	  #consult ul {
		  padding:2px 0 0 15px;
		  float:left;
		  list-style:none;
	  }
	  #consult li {
		  line-height:1.5;
	  }
	  #blog {
		  width:494px;
		  height:161px;
		  margin-top:15px;
	  }
	  #blog .title {
		  color:#AE821D;
		  font-size:14px;
		  text-indent:18px;
		  height:24px;
		  line-height:24px;
		  margin-bottom:5px;
		  border-bottom:1px solid #AE821D;
		  float:left;
		  width:246px;
		  cursor:pointer;
		  background:url(../images/icon.gif) no-repeat scroll 0 0;
	  }
	  #blog .img {
		  padding-top:10px;
		  width:114px;
		  height:116px;
		  float:left;
	  }
	  #blog ul {
		  padding:10px 0 0 10px;
		  float:left;
		  list-style:none;
	  }
	  #blog li {
		  line-height:1.5;
	  }
 .clear {
	 clear:both;
	 line-height:0;
	 height:0;
	 font-size:0;
   }
#copyright {
	height:58px;
	width:760px;
	margin:0 auto;
	margin-top:28px;
	background-color:#DFD4B5;
}
#copyright ul {
	padding:13px 0 0 80px;
	list-style:none;
	float:left;
}
#copyright li {
	display:block;
	float:left;
	margin-right:7px;
}
#footer {
	width:778px;
	height:13px;
	margin:0 auto;
	background:url(../images/footer_bg.gif) no-repeat scroll bottom center;
}
