@charset "utf-8";
/* CSS Document */
/* ------------------------------------------------------------
Basic Style Sheet (for version 4 browsers)

version	:	1.0
 author	:	Adam YU
  email	:	yydxp88@163.com
     qq	:	106395181
	msn	:	zatsl@hotmail.com
website	:	http://www.yuyadong.com
------------------------------------------------------------ */

/* ------------------------------------------------------------
基本样式表（适用于第4版的浏览器）

   版本	: 	1.0
   作者	:	于亚东
 email	:	yydxp88@163.com
    qq	:	106395181
   msn	:	zatsl@hotmail.com
   网址	:	http://www.yuyadong.com
------------------------------------------------------------ */

/* = Navigator
------------------------------------------------------------ */

/*
这个导航条在IE6下出现了清楚浮动的BUG,如果修复IE6的BUG,
修复方法:http://www.yuyadong.com
*/

/* 	 TODO: IE6中存在如何清楚浮动元素的BUG,在项目完成后对其进行修改*/
/* KLUDGE: 给Navigator指定一个固定的高度可以解决这个BUG,但是不是最灵活的方法*/
/*    BUG: IE6清除浮动*/

#Navigator {
	list-style:none;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
	border-bottom:1px solid blue;
	height:1%;
	overflow:auto;
}
#Navigator li {
	display:inline;
}
#Navigator li a{
	display:block;
	float:left;
	padding:10px 20px;
	text-decoration:none;
	text-transform:capitalize;
}
