@charset "utf-8";
/* CSS Document */

 *{ margin:0; padding:0;}
img { border:none;}
a { 
color:#fff;
text-decoration:none;
}
a:hover {
	color:#FEC34B;
	text-decoration:underline;
}
body {
	font-family:"宋体";
	font-size:12px;
	color:#fff;
	background-color:#2E2200;
	margin:0;
	padding:0;
}
#container {
	width:798px;
	margin:0 auto;
	background:url(../images/bg.jpg) repeat-y scroll 0 0;
}
#top {
	width:798px;
	height:91px;
}
   #logo {
	   width:278px;
	   height:91px;
	   float:left;
   }
   #menu {
	   float:left;
	   width:440px;
	   height:20px;
	   margin:55px 0 0 22px;
	   display:inline;
	   color:#D7CB1F;
	   font-size:14px;
   }
    #menu ul{
    list-style:none;
	height:20px;
  }
   #menu a{
   text-decoration:none;color:#D7CB1F;
   }
   #menu a:hover{
   text-decoration:underline; color:#000;
   }
   .main-menu{
   width:440px;
   }
   .main-menu .main-li{
   float:left; height:20px; line-height:20px; display:inline; position:relative; z-index:1; text-align:center;
   }
  .main-menu .main-li a{
  display:block;
  color:#fff;
  }
  .main-menu .main-li .li-a{
  float:left;
  }
  .main-menu .main-li .li-a{ width:80px;
  }
  .main-menu .main-li .sub-menu{
  position:absolute; top:20px; display:none; z-index:2; left:5px; width:70px; text-align:center; background-color:#BB0708;
  }
  .main-menu .main-li .sub-menu-two{
  position:absolute; top:20px; display:none; z-index:3; left:75px; text-align:center;
  }
  .sub-menu-two a{ width:70px; background-color:blue; float:none;
  }
  .sub-menu .li2-a{
  background-color:#7C2418; float:none; width:70px;
  }
  .sub-menu a:hover{
  background-color:blue;
  }
.clear {
	   clear:both;
	   height:0;
	   line-height:0;
   }
#banner {
	width:798px;
	height:330px;
	padding-left:3px;
}
#main {
	width:798px;
	height:582px;
}
#main span {
	color:#D7CB1F;
	font-size:14px;
}
  #mainleft {
	  width:254px;
	  float:left;
	  padding:15px 0 0 23px;
  }
  #mainleft,#mainright .title {
	  width:254px;
	  height:28px;
	  line-height:28px;
  }
  #mainleft ul {
	  padding-top:10px;
	  list-style:none;
  }
  #mainleft li {
	  line-height:2.0;
  }
  #mainright .title {
	  background-color:#34350B;
	  width:463px;
	  text-indent:10px;
  }
  #mainright {
	  width:490px;
	  padding:15px 0 0 10px;
	  float:left;
	  }
	  #culture {
		  padding-left:10px;
	  }
	 #culture p {
		padding:6px 0 0 10px;
		line-height:2.0;
	 }
	 #culture ul {
		 padding:10px 0 0 5px;
		 list-style-type:none;
	 }
	 #culture li {
		 background:url(../images/icon_01.jpg) no-repeat scroll left center;
		 width:430px;
		 height:25px;
		 line-height:25px;
		 position:relative;
	 }
	 #culture li p {
		  border-bottom:1px dashed #fff;
		  width:435px;
		  margin-left:15px;
		  float:left;
		  display:inline;
		  line-height:16px;
		  padding-top:5px;
		  padding-left:0;
		  position:relative;
	 }
	  .days {
		 position:absolute;
		 top:0;
		 left:390px;
	 }
	  #fossils {
		  padding-left:10px;
	  }
	  #fossils p {
		  padding:10px 0 0 18px;
	  }
	  #fossils p.pp {
		  padding:15px 25px 0 0;
		  text-indent:2em;
		  line-height:1.4;
	  }
#footer {
	width:757px;
	height:70px;
	margin:10px 0 20px 0;
	border:3px solid #D6CB21;
	background-color:#1C1B07;
	color:#7B7C42;
}
#footer p {
	padding:5px 0 0 10px;
}
#footer p a{
	color:#7B7C42;
	text-decoration:none;
}
#footer a:link{
	color:#7B7C42;
	text-decoration:none;
	}
	#footer a:hover{
	color:#9C3;
	text-decoration:underline;
	}