@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
body{ font:11px Verdana, Geneva, sans-serif; background:black; padding-top:20px;}
ul{ list-style:none;}

#nav{ width:770px; margin:0 auto;height:60px; background:url(../images/nav-bg.png) no-repeat;}
#nav li{ float:left;}
#nav li a{ display:block; height:60px; text-indent:-9999px; outline:none;}

#nav li #home{ width:150px;}
#nav li #about{ width:146px;}
#nav li #products{ width:146px;}
#nav li #services{ width:146px;}
#nav li #contact{ width:182px;}

#nav li #home:hover{ background:url(../images/nav-bg.png) no-repeat left bottom;}
#nav li #about:hover{ background:url(../images/nav-bg.png) no-repeat -150px bottom;}
#nav li #products:hover{ background:url(../images/nav-bg.png) no-repeat -296px bottom;}
#nav li #services:hover{ background:url(../images/nav-bg.png) no-repeat -442px bottom;}
#nav li #contact:hover{ background:url(../images/nav-bg.png) no-repeat -588px bottom;}

#home-btn #home{ background:url(../images/nav-bg.png) no-repeat left bottom;}
#about-btn #about{ background:url(../images/nav-bg.png) no-repeat -150px bottom;}
#products-btn #products{ background:url(../images/nav-bg.png) no-repeat -296px bottom;}
#services-btn #services{ background:url(../images/nav-bg.png) no-repeat -442px bottom;}
#contact-btn #contact{ background:url(../images/nav-bg.png) no-repeat -588px bottom;}