@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
body{
	font-family:"宋体";
	font-size:12px;
	cursor:auto;
	}
.big{
	width:780px;
	margin:0 auto 0 auto;
	}
/*---------up---------*/
.up{
	width:780px;
	height:306px;
	}
.up_left{
	width:205px;
	float:left;
	background-image:url(../img/up01.jpg);
	background-repeat:no-repeat;
	height:306px;
	}
.up_left ul{
	list-style-type:none;
	margin:90px 0 0 30px;
	}
.up_left li{
	margin-bottom:15px;
	}
.up_left a{
	color:#000000;
	text-decoration:none;
	}
.up_left a:hover{
	color:#6633FF;
	text-decoration:none;
	}
.up_right{
	width:575px;
	float:left;
	background-image:url(../img/up02.jpg);
	background-repeat:no-repeat;
	height:306px;
	}
.up_right p{
	text-align:right;
	margin-right:50px;
	margin-top:3px;
	}
.up_right a{
	color:#FFFFFF;
	text-decoration:none;
	}
.up_right a:hover{
	color:#0000FF;
	text-decoration:underline;
	}
/*------------down---------------*/
.down{
	width:780px;
	}
.down_left{
	width:205px;
	float:left;
	}
.d_one{
	width:205px;
	background-image:url(../img/d_left01.jpg);
	background-repeat:no-repeat;
	height:33px;
	}
.d_two{
	width:205px;
	background-image:url(../img/d_left02.jpg);
	background-repeat:no-repeat;
	height:104px;
	}
.biao{
	margin-top:28px;
	margin-left:18px;
	text-align:center;}
.d_three{
	width:205px;
	background-image:url(../img/d_left03.jpg);
	background-repeat:no-repeat;
	height:236px;
	}
.d_three h1{
	font-size:12px;
	font-weight:400;
	color:#8C5C15;
	margin:30px 0 0 50px;
	}
.d_three p{
	margin-top:120px;
	margin-left:30px;
	width:168px;
	}
.down_right{
	width:575px;
	float:left;
	}
.d_right_one{
	width:575px;
	background-image:url(../img/d_right01.jpg);
	background-repeat:no-repeat;
	height:195px;
	}
.wen{
	width:150px;
	float:left;
	margin-left:40px;
	}
.wen a{
	color:#FFFFFF;
	}
.wen a:hover{
	color:#0066FF;
	text-decoration:none;
	}
.wen p{
	margin-top:10px;
	color:#FFFFCC;
	}
.wen1{
	width:150px;
	float:left;
	margin-left:18px;
	}
.wen1 a{
	color:#FFFFFF;
	}
.wen1 a:hover{
	color:#0066FF;
	text-decoration:none;
	}
.wen1 p{
	margin-top:10px;
	color:#FFFFCC;
	}
.wen2{
	width:150px;
	float:left;
	margin-left:22px;
	}
.wen2 a{
	color:#FFFFFF;
	}
.wen2 a:hover{
	color:#0066FF;
	text-decoration:none;
	}
.wen2 p{
	margin-top:10px;
	color:#FFFFCC;
	}
.d_right_two{
	width:575px;
	background-image:url(../img/d_right02.jpg);
	background-repeat:no-repeat;
	height:178px;
	}
.d_right_two h2{
	font-size:14px;
	font-weight:700;
	margin-top:10px;
	margin-left:60px;
	}
.more{
	margin-left:400px;
	font-size:12px;
	font-weight:400;
	}
.more a{
	color:#000000;
	text-decoration:none;
	}
.more a:hover{
	color:#0000FF;
	}
	.d_right_two h3{
	font-size:12px;
	font-weight:800;
	margin-top:10px;
	margin-left:60px;
	color:#663333;
	}
.d_right_two p{
	margin-top:15px;
	width:480px;
	margin-left:55px;
	color:#D9AC62;}
/*-------------------------*/
.foot{
	width:780px;
	background-image:url(../img/foot_bg.jpg);
	background-repeat:repeat-x;
	height:71px;
	text-align:center;
	}
.foot p{
	margin-top:5px;
	color:#996517;
	}
.foot a{
	color:#996517;
	text-decoration:none;
	}
.foot a:hover{
	color:#6633FF;
	text-decoration:none;
	}