
.body-bg{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.content{
    width: 831px;
    height: 574px;
    position: relative;
    margin: 200px auto 0;
    -webkit-transform: translateX(-50px);
       -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
         -o-transform: translateX(-50px);
            transform: translateX(-50px);
    display: block;
}
/* 以上代码为整体布局，可根据需要更改，下面代码为动画内容：无特殊需求可不用更改 */
        .btn{
            width: 124px;
            height: 124px;
            color: #33b1ee;
            font-weight: 600;
            font-size: 25px;
            line-height: 124px;
            text-align: center;
            background-color: #0f73c2;
            border: 1px solid #08b0dd;
            -webkit-border-radius: 100%;
               -moz-border-radius: 100%;
                    border-radius: 100%;
        }
        .up{
            position: absolute;
            top: 0;
            left: 0;
            opacity: 0;
            -webkit-transform: translate3d(0,0,90px);
               -moz-transform: translate3d(0,0,90px);
                    transform: translate3d(0,0,90px);
        }
        
        .up1{
            -webkit-animation: up1 4s 2s;
               -moz-animation: up1 4s 2s;
                 -o-animation: up1 4s 2s;
                    animation: up1 4s 2s;
            -webkit-animation-fill-mode : forwards;
               -moz-animation-fill-mode : forwards;
                 -o-animation-fill-mode : forwards;
                    animation-fill-mode : forwards;
        }
        .up2{
            -webkit-animation: up2 4s 2s;
               -moz-animation: up2 4s 2s;
                 -o-animation: up2 4s 2s;
                    animation: up2 4s 2s;
            -webkit-animation-fill-mode : forwards;
               -moz-animation-fill-mode : forwards;
                 -o-animation-fill-mode : forwards;
                    animation-fill-mode : forwards;
        }
        .up3{
            -webkit-animation: up3 4s 2s;
               -moz-animation: up3 4s 2s;
                 -o-animation: up3 4s 2s;
                    animation: up3 4s 2s;
            -webkit-animation-fill-mode : forwards;
               -moz-animation-fill-mode : forwards;
                 -o-animation-fill-mode : forwards;
                    animation-fill-mode : forwards;
        }
        .up-box{
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            /* transform-origin: 0% 0%; */
            position: absolute;
            -webkit-animation: up-box-circle 4s 2s,up-box-up-circle 6s 8s;
               -moz-animation: up-box-circle 4s 2s,up-box-up-circle 6s 8s;
                 -o-animation: up-box-circle 4s 2s,up-box-up-circle 6s 8s;
                    animation: up-box-circle 4s 2s,up-box-up-circle 6s 8s;
            -webkit-animation-fill-mode : forwards;
               -moz-animation-fill-mode : forwards;
                 -o-animation-fill-mode : forwards;
                    animation-fill-mode : forwards;
        }
        .bg{
            -webkit-animation: zindex 0.1s 8s;
               -moz-animation: zindex 0.1s 8s;
                 -o-animation: zindex 0.1s 8s;
                    animation: zindex 0.1s 8s;
            -webkit-animation-fill-mode : forwards;
               -moz-animation-fill-mode : forwards;
                 -o-animation-fill-mode : forwards;
                    animation-fill-mode : forwards;
        }
        .up-box-center{
            width: 124px;
            height: 124px;
            top: 50%;
            left: 50%;
            position: absolute;
            -webkit-transform: translate3d(-50%,-50%,100px);
               -moz-transform: translate3d(-50%,-50%,100px);
                    transform: translate3d(-50%,-50%,100px);
            -webkit-animation: up-box-up 4s 2s, up-box-scale 2s 6s, up-box-up-down 8s 8s,hide 0.5s 16s;
               -moz-animation: up-box-up 4s 2s, up-box-scale 2s 6s, up-box-up-down 8s 8s,hide 0.5s 16s;
                 -o-animation: up-box-up 4s 2s, up-box-scale 2s 6s, up-box-up-down 8s 8s,hide 0.5s 16s;
                    animation: up-box-up 4s 2s, up-box-scale 2s 6s, up-box-up-down 8s 8s,hide 0.5s 16s;
            -webkit-animation-fill-mode : forwards;
               -moz-animation-fill-mode : forwards;
                 -o-animation-fill-mode : forwards;
                    animation-fill-mode : forwards;
        }

        .animation-box{
            width: 690px;
            height: 690px;
            position: absolute;
            bottom: 122px;
            right: 28px;
            -webkit-transform: rotateY(0deg) rotateZ(0deg) rotateX(68deg);
               -moz-transform: rotateY(0deg) rotateZ(0deg) rotateX(68deg);
                    transform: rotateY(0deg) rotateZ(0deg) rotateX(68deg);
            -webkit-transform-origin: 0% 100%;
               -moz-transform-origin: 0% 100%;
                -ms-transform-origin: 0% 100%;
                 -o-transform-origin: 0% 100%;
                    transform-origin: 0% 100%;
            -webkit-perspective:800px;
               -moz-perspective:800px;
                    perspective:800px;       
            -webkit-perspective-origin:50%;       
               -moz-perspective-origin:50%;       
                    perspective-origin:50%;
            -webkit-transform-style: preserve-3d;
               -moz-transform-style: preserve-3d;
                    transform-style: preserve-3d;
            /* border: 1px solid #ffffff; */
            -webkit-border-radius: 50%;
               -moz-border-radius: 50%;
                    border-radius: 50%;
            z-index: 1;
        }
        .yuan1{
            opacity: 0;
            position: absolute;
            right: 10px;
            top: 150px;
            -webkit-animation-fill-mode : forwards;
               -moz-animation-fill-mode : forwards;
                 -o-animation-fill-mode : forwards;
                    animation-fill-mode : forwards; 
            -webkit-animation: yuan 0.5s 16.5s,updown 2.1s 17s infinite linear; 
               -moz-animation: yuan 0.5s 16.5s,updown 2.1s 17s infinite linear; 
                 -o-animation: yuan 0.5s 16.5s,updown 2.1s 17s infinite linear; 
                    animation: yuan 0.5s 16.5s,updown 2.1s 17s infinite linear;
        }
        .yuan2{
            opacity: 0;
            position: absolute;
            right: 80px;
            bottom: 100px;
            -webkit-animation-fill-mode : forwards;
               -moz-animation-fill-mode : forwards;
                 -o-animation-fill-mode : forwards;
                    animation-fill-mode : forwards; 
            -webkit-animation: yuan 0.5s 16.5s,updown 1.8s 17s infinite linear; 
               -moz-animation: yuan 0.5s 16.5s,updown 1.8s 17s infinite linear; 
                 -o-animation: yuan 0.5s 16.5s,updown 1.8s 17s infinite linear; 
                    animation: yuan 0.5s 16.5s,updown 1.8s 17s infinite linear;

        }
        .yuan3{
            opacity: 0;
            position: absolute;
            bottom: 210px;
            left: 20px;
            -webkit-animation-fill-mode : forwards;
               -moz-animation-fill-mode : forwards;
                 -o-animation-fill-mode : forwards;
                    animation-fill-mode : forwards; 
            -webkit-animation: yuan 0.5s 16.5s,updown 2s 17s infinite linear; 
               -moz-animation: yuan 0.5s 16.5s,updown 2s 17s infinite linear; 
                 -o-animation: yuan 0.5s 16.5s,updown 2s 17s infinite linear; 
                    animation: yuan 0.5s 16.5s,updown 2s 17s infinite linear;
        }
        .logo{
            position: absolute;
            right: 300px;
            bottom: 310px;
            opacity: 0;
            -webkit-animation: yuan 4s 15s;
               -moz-animation: yuan 4s 15s;
                 -o-animation: yuan 4s 15s;
                    animation: yuan 4s 15s;
            -webkit-animation-fill-mode : forwards;
               -moz-animation-fill-mode : forwards;
                 -o-animation-fill-mode : forwards;
                    animation-fill-mode : forwards; 
        }
        .top{
            top: 50%;
            left: 50%;
            position: absolute;
            -webkit-transform: translate3d(-50%,-50%,150px);
               -moz-transform: translate3d(-50%,-50%,150px);
                    transform: translate3d(-50%,-50%,150px);
            width: 314px;
            height: 314px;
            -webkit-border-radius: 50%;
               -moz-border-radius: 50%;
                    border-radius: 50%;
            border: 20px solid #64f9fb;
            opacity: 0.5;
        }
        .yuandian{
            position: absolute;
            -webkit-border-radius: 50%;
               -moz-border-radius: 50%;
                    border-radius: 50%;
            background-color: #9cb941;
        }
        .yuandian1{
            width: 40px;
            height: 40px;
            right: 200px;
            top: 0;
            -webkit-animation: updown 2s infinite linear;
               -moz-animation: updown 2s infinite linear;
                 -o-animation: updown 2s infinite linear;
                    animation: updown 2s infinite linear;
        }
        .yuandian2{
            width: 30px;
            height: 30px;
            left: 170px;
            top: 140px;
            -webkit-animation: updown 2.1s infinite linear;
               -moz-animation: updown 2.1s infinite linear;
                 -o-animation: updown 2.1s infinite linear;
                    animation: updown 2.1s infinite linear;
        }
        .yuandian3{
            width: 25px;
            height: 25px;
            left: 60px;
            bottom: 130px;
            -webkit-animation: updown 2.2s infinite linear;
               -moz-animation: updown 2.2s infinite linear;
                 -o-animation: updown 2.2s infinite linear;
                    animation: updown 2.2s infinite linear;
        }
        .yuandian4{
            width: 20px;
            height: 20px;
            right: 120px;
            bottom: 30px;
            -webkit-animation: updown 1.8s infinite linear;
               -moz-animation: updown 1.8s infinite linear;
                 -o-animation: updown 1.8s infinite linear;
                    animation: updown 1.8s infinite linear;
        }
        @-webkit-keyframes yuan {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        @-moz-keyframes yuan {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        @-o-keyframes yuan {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        @keyframes yuan {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
        
        @-webkit-keyframes updown {
            0% {
                opacity: 1;
                -webkit-transform: translate3d(0,0,0);
                        transform: translate3d(0,0,0);
            }
            50% {
                opacity: 1;
                -webkit-transform: translate3d(0,20px,0);
                        transform: translate3d(0,20px,0);
            }
            100% {
                opacity: 1;
                -webkit-transform: translate3d(0,0,0);
                        transform: translate3d(0,0,0);
            }
        }
        
        @-moz-keyframes updown {
            0% {
                opacity: 1;
                -moz-transform: translate3d(0,0,0);
                     transform: translate3d(0,0,0);
            }
            50% {
                opacity: 1;
                -moz-transform: translate3d(0,20px,0);
                     transform: translate3d(0,20px,0);
            }
            100% {
                opacity: 1;
                -moz-transform: translate3d(0,0,0);
                     transform: translate3d(0,0,0);
            }
        }
        
        @-o-keyframes updown {
            0% {
                opacity: 1;
                transform: translate3d(0,0,0);
            }
            50% {
                opacity: 1;
                transform: translate3d(0,20px,0);
            }
            100% {
                opacity: 1;
                transform: translate3d(0,0,0);
            }
        }
        
        @keyframes updown {
            0% {
                opacity: 1;
                -webkit-transform: translate3d(0,0,0);
                   -moz-transform: translate3d(0,0,0);
                        transform: translate3d(0,0,0);
            }
            50% {
                opacity: 1;
                -webkit-transform: translate3d(0,20px,0);
                   -moz-transform: translate3d(0,20px,0);
                        transform: translate3d(0,20px,0);
            }
            100% {
                opacity: 1;
                -webkit-transform: translate3d(0,0,0);
                   -moz-transform: translate3d(0,0,0);
                        transform: translate3d(0,0,0);
            }
        }
        @-webkit-keyframes up1 {
            0% {
                opacity: 1;
                -webkit-transform: translate3d(0,0,0);
                        transform: translate3d(0,0,0);
            }
            100% {
                -webkit-transform: translate3d(-50%,-50%,0);
                        transform: translate3d(-50%,-50%,0);
                opacity: 1;
                left: 50%;
            }
            /* 80%{
                transform: rotateY(0deg) rotateZ(0deg) rotateX(60deg) translate3d(50px,0,50px);
            } */
        }
        @-moz-keyframes up1 {
            0% {
                opacity: 1;
                -moz-transform: translate3d(0,0,0);
                     transform: translate3d(0,0,0);
            }
            100% {
                -moz-transform: translate3d(-50%,-50%,0);
                     transform: translate3d(-50%,-50%,0);
                opacity: 1;
                left: 50%;
            }
            /* 80%{
                transform: rotateY(0deg) rotateZ(0deg) rotateX(60deg) translate3d(50px,0,50px);
            } */
        }
        @-o-keyframes up1 {
            0% {
                opacity: 1;
                transform: translate3d(0,0,0);
            }
            100% {
                transform: translate3d(-50%,-50%,0);
                opacity: 1;
                left: 50%;
            }
            /* 80%{
                transform: rotateY(0deg) rotateZ(0deg) rotateX(60deg) translate3d(50px,0,50px);
            } */
        }
        @keyframes up1 {
            0% {
                opacity: 1;
                -webkit-transform: translate3d(0,0,0);
                   -moz-transform: translate3d(0,0,0);
                        transform: translate3d(0,0,0);
            }
            100% {
                -webkit-transform: translate3d(-50%,-50%,0);
                   -moz-transform: translate3d(-50%,-50%,0);
                        transform: translate3d(-50%,-50%,0);
                opacity: 1;
                left: 50%;
            }
            /* 80%{
                transform: rotateY(0deg) rotateZ(0deg) rotateX(60deg) translate3d(50px,0,50px);
            } */
        }
        @-webkit-keyframes up2 {
            0% {
                opacity: 1;
                -webkit-transform: translate3d(0,0,0);
                        transform: translate3d(0,0,0);
                top: auto;
            }
            100% {
                -webkit-transform: translate3d(-50%,50%,0);
                        transform: translate3d(-50%,50%,0);
                opacity: 1;
                left: 14.64%;
                top: auto;
                bottom: 14.64%;
            }
            /* 80%{
                transform: rotateY(0deg) rotateZ(0deg) rotateX(60deg) translate3d(50px,0,50px);
            } */
        }
        @-moz-keyframes up2 {
            0% {
                opacity: 1;
                -moz-transform: translate3d(0,0,0);
                     transform: translate3d(0,0,0);
                top: auto;
            }
            100% {
                -moz-transform: translate3d(-50%,50%,0);
                     transform: translate3d(-50%,50%,0);
                opacity: 1;
                left: 14.64%;
                top: auto;
                bottom: 14.64%;
            }
            /* 80%{
                transform: rotateY(0deg) rotateZ(0deg) rotateX(60deg) translate3d(50px,0,50px);
            } */
        }
        @-o-keyframes up2 {
            0% {
                opacity: 1;
                transform: translate3d(0,0,0);
                top: auto;
            }
            100% {
                transform: translate3d(-50%,50%,0);
                opacity: 1;
                left: 14.64%;
                top: auto;
                bottom: 14.64%;
            }
            /* 80%{
                transform: rotateY(0deg) rotateZ(0deg) rotateX(60deg) translate3d(50px,0,50px);
            } */
        }
        @keyframes up2 {
            0% {
                opacity: 1;
                -webkit-transform: translate3d(0,0,0);
                   -moz-transform: translate3d(0,0,0);
                        transform: translate3d(0,0,0);
                top: auto;
            }
            100% {
                -webkit-transform: translate3d(-50%,50%,0);
                   -moz-transform: translate3d(-50%,50%,0);
                        transform: translate3d(-50%,50%,0);
                opacity: 1;
                left: 14.64%;
                top: auto;
                bottom: 14.64%;
            }
            /* 80%{
                transform: rotateY(0deg) rotateZ(0deg) rotateX(60deg) translate3d(50px,0,50px);
            } */
        }
        @-webkit-keyframes up3 {
            0% {
                opacity: 1;
                -webkit-transform: translate3d(0,0,0);
                        transform: translate3d(0,0,0);
                top: auto;
                left: auto;
            }
            100% {
                -webkit-transform: translate3d(50%,50%,0);
                        transform: translate3d(50%,50%,0);
                opacity: 1;
                top: auto;
                left: auto;
                bottom: 14.64%;
                right: 14.64%;
            }
            /* 80%{
                transform: rotateY(0deg) rotateZ(0deg) rotateX(60deg) translate3d(50px,0,50px);
            } */
        }
        @-moz-keyframes up3 {
            0% {
                opacity: 1;
                -moz-transform: translate3d(0,0,0);
                     transform: translate3d(0,0,0);
                top: auto;
                left: auto;
            }
            100% {
                -moz-transform: translate3d(50%,50%,0);
                     transform: translate3d(50%,50%,0);
                opacity: 1;
                top: auto;
                left: auto;
                bottom: 14.64%;
                right: 14.64%;
            }
            /* 80%{
                transform: rotateY(0deg) rotateZ(0deg) rotateX(60deg) translate3d(50px,0,50px);
            } */
        }
        @-o-keyframes up3 {
            0% {
                opacity: 1;
                transform: translate3d(0,0,0);
                top: auto;
                left: auto;
            }
            100% {
                transform: translate3d(50%,50%,0);
                opacity: 1;
                top: auto;
                left: auto;
                bottom: 14.64%;
                right: 14.64%;
            }
            /* 80%{
                transform: rotateY(0deg) rotateZ(0deg) rotateX(60deg) translate3d(50px,0,50px);
            } */
        }
        @keyframes up3 {
            0% {
                opacity: 1;
                -webkit-transform: translate3d(0,0,0);
                   -moz-transform: translate3d(0,0,0);
                        transform: translate3d(0,0,0);
                top: auto;
                left: auto;
            }
            100% {
                -webkit-transform: translate3d(50%,50%,0);
                   -moz-transform: translate3d(50%,50%,0);
                        transform: translate3d(50%,50%,0);
                opacity: 1;
                top: auto;
                left: auto;
                bottom: 14.64%;
                right: 14.64%;
            }
            /* 80%{
                transform: rotateY(0deg) rotateZ(0deg) rotateX(60deg) translate3d(50px,0,50px);
            } */
        }
        @-webkit-keyframes up-box-circle{
            0% {
                -webkit-transform: rotateZ(0deg) scale3d(0.2,0.2,1);
                        transform: rotateZ(0deg) scale3d(0.2,0.2,1);
            }
            100% {
                -webkit-transform: rotateZ(720deg) scale3d(0.6,0.6,1);
                        transform: rotateZ(720deg) scale3d(0.6,0.6,1);
            }
        }
        @-moz-keyframes up-box-circle{
            0% {
                -moz-transform: rotateZ(0deg) scale3d(0.2,0.2,1);
                     transform: rotateZ(0deg) scale3d(0.2,0.2,1);
            }
            100% {
                -moz-transform: rotateZ(720deg) scale3d(0.6,0.6,1);
                     transform: rotateZ(720deg) scale3d(0.6,0.6,1);
            }
        }
        @-o-keyframes up-box-circle{
            0% {
                transform: rotateZ(0deg) scale3d(0.2,0.2,1);
            }
            100% {
                transform: rotateZ(720deg) scale3d(0.6,0.6,1);
            }
        }
        @keyframes up-box-circle{
            0% {
                -webkit-transform: rotateZ(0deg) scale3d(0.2,0.2,1);
                   -moz-transform: rotateZ(0deg) scale3d(0.2,0.2,1);
                        transform: rotateZ(0deg) scale3d(0.2,0.2,1);
            }
            100% {
                -webkit-transform: rotateZ(720deg) scale3d(0.6,0.6,1);
                   -moz-transform: rotateZ(720deg) scale3d(0.6,0.6,1);
                        transform: rotateZ(720deg) scale3d(0.6,0.6,1);
            }
        }

        @-webkit-keyframes up-box-scale{
            0% {
                -webkit-transform:  translate3d(-50%,-50%,150px);
                        transform:  translate3d(-50%,-50%,150px);
                width: 124px;
                height: 124px;
            }
            100% {
                -webkit-transform:  translate3d(-50%,-50%,150px);
                        transform:  translate3d(-50%,-50%,150px);
                width: 460px;
                height: 460px;
            }
        }

        @-moz-keyframes up-box-scale{
            0% {
                -moz-transform:  translate3d(-50%,-50%,150px);
                     transform:  translate3d(-50%,-50%,150px);
                width: 124px;
                height: 124px;
            }
            100% {
                -moz-transform:  translate3d(-50%,-50%,150px);
                     transform:  translate3d(-50%,-50%,150px);
                width: 460px;
                height: 460px;
            }
        }

        @-o-keyframes up-box-scale{
            0% {
                transform:  translate3d(-50%,-50%,150px);
                width: 124px;
                height: 124px;
            }
            100% {
                transform:  translate3d(-50%,-50%,150px);
                width: 460px;
                height: 460px;
            }
        }

        @keyframes up-box-scale{
            0% {
                -webkit-transform:  translate3d(-50%,-50%,150px);
                   -moz-transform:  translate3d(-50%,-50%,150px);
                        transform:  translate3d(-50%,-50%,150px);
                width: 124px;
                height: 124px;
            }
            100% {
                -webkit-transform:  translate3d(-50%,-50%,150px);
                   -moz-transform:  translate3d(-50%,-50%,150px);
                        transform:  translate3d(-50%,-50%,150px);
                width: 460px;
                height: 460px;
            }
        }
        @-webkit-keyframes up-box-up{
            0% {
                -webkit-transform:  translate3d(-50%,-50%,100px);
                        transform:  translate3d(-50%,-50%,100px);
            }
            100% {
                -webkit-transform:  translate3d(-50%,-50%,150px);
                        transform:  translate3d(-50%,-50%,150px);
            }
        }
        @-moz-keyframes up-box-up{
            0% {
                -moz-transform:  translate3d(-50%,-50%,100px);
                     transform:  translate3d(-50%,-50%,100px);
            }
            100% {
                -moz-transform:  translate3d(-50%,-50%,150px);
                     transform:  translate3d(-50%,-50%,150px);
            }
        }
        @-o-keyframes up-box-up{
            0% {
                transform:  translate3d(-50%,-50%,100px);
            }
            100% {
                transform:  translate3d(-50%,-50%,150px);
            }
        }
        @keyframes up-box-up{
            0% {
                -webkit-transform:  translate3d(-50%,-50%,100px);
                   -moz-transform:  translate3d(-50%,-50%,100px);
                        transform:  translate3d(-50%,-50%,100px);
            }
            100% {
                -webkit-transform:  translate3d(-50%,-50%,150px);
                   -moz-transform:  translate3d(-50%,-50%,150px);
                        transform:  translate3d(-50%,-50%,150px);
            }
        }
        @-webkit-keyframes up-box-up-down{
            0% {
                -webkit-transform:  translate3d(-50%,-50%,150px);
                        transform:  translate3d(-50%,-50%,150px);
                width: 460px;
                height: 460px;
            }
            100% {
                -webkit-transform:  translate3d(-50%,-50%,0px);
                        transform:  translate3d(-50%,-50%,0px);
                width: 680px;
                height: 680px;
            }
        }
        @-moz-keyframes up-box-up-down{
            0% {
                -moz-transform:  translate3d(-50%,-50%,150px);
                     transform:  translate3d(-50%,-50%,150px);
                width: 460px;
                height: 460px;
            }
            100% {
                -moz-transform:  translate3d(-50%,-50%,0px);
                     transform:  translate3d(-50%,-50%,0px);
                width: 680px;
                height: 680px;
            }
        }
        @-o-keyframes up-box-up-down{
            0% {
                transform:  translate3d(-50%,-50%,150px);
                width: 460px;
                height: 460px;
            }
            100% {
                transform:  translate3d(-50%,-50%,0px);
                width: 680px;
                height: 680px;
            }
        }
        @keyframes up-box-up-down{
            0% {
                -webkit-transform:  translate3d(-50%,-50%,150px);
                   -moz-transform:  translate3d(-50%,-50%,150px);
                        transform:  translate3d(-50%,-50%,150px);
                width: 460px;
                height: 460px;
            }
            100% {
                -webkit-transform:  translate3d(-50%,-50%,0px);
                   -moz-transform:  translate3d(-50%,-50%,0px);
                        transform:  translate3d(-50%,-50%,0px);
                width: 680px;
                height: 680px;
            }
        }
        @-webkit-keyframes up-box-up-circle{
            0% {
                -webkit-transform: rotateZ(0deg) scale3d(0.6,0.6,1);
                        transform: rotateZ(0deg) scale3d(0.6,0.6,1);
            }
            100% {
                -webkit-transform: rotateZ(1000deg) scale3d(1,1,1);
                        transform: rotateZ(1000deg) scale3d(1,1,1);
            }
        }
        @-moz-keyframes up-box-up-circle{
            0% {
                -moz-transform: rotateZ(0deg) scale3d(0.6,0.6,1);
                     transform: rotateZ(0deg) scale3d(0.6,0.6,1);
            }
            100% {
                -moz-transform: rotateZ(1000deg) scale3d(1,1,1);
                     transform: rotateZ(1000deg) scale3d(1,1,1);
            }
        }
        @-o-keyframes up-box-up-circle{
            0% {
                transform: rotateZ(0deg) scale3d(0.6,0.6,1);
            }
            100% {
                transform: rotateZ(1000deg) scale3d(1,1,1);
            }
        }
        @keyframes up-box-up-circle{
            0% {
                -webkit-transform: rotateZ(0deg) scale3d(0.6,0.6,1);
                   -moz-transform: rotateZ(0deg) scale3d(0.6,0.6,1);
                        transform: rotateZ(0deg) scale3d(0.6,0.6,1);
            }
            100% {
                -webkit-transform: rotateZ(1000deg) scale3d(1,1,1);
                   -moz-transform: rotateZ(1000deg) scale3d(1,1,1);
                        transform: rotateZ(1000deg) scale3d(1,1,1);
            }
        }
        @-webkit-keyframes hide{
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
        @-moz-keyframes hide{
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
        @-o-keyframes hide{
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
        @keyframes hide{
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
         @-webkit-keyframes zindex{
            0% {
                z-index: 0;
            }
            100% {
                z-index: 9;
            }
        }
         @-moz-keyframes zindex{
            0% {
                z-index: 0;
            }
            100% {
                z-index: 9;
            }
        }
         @-o-keyframes zindex{
            0% {
                z-index: 0;
            }
            100% {
                z-index: 9;
            }
        }
         @keyframes zindex{
            0% {
                z-index: 0;
            }
            100% {
                z-index: 9;
            }
        }