@charset "utf-8";
/* CSS Document */

*{ margin:0; padding:0;}
body{ font:11px Verdana, Geneva, sans-serif; padding:20px; background:#D9F9D0;}
ul{ list-style:none;}

#steps li{ width:200px; height:200px;float:left; text-indent:-9999px;}
#steps li#step-a{ background:url(../images/steps.png) no-repeat;}
#steps li#step-b{ background:url(../images/steps.png) no-repeat -200px 0;}
#steps li#step-c{ background:url(../images/steps.png) no-repeat -400px 0;}
#steps li#step-d{ background:url(../images/steps.png) no-repeat -600px 0;}

#selsteps-a li#step-a{ background:url(../images/steps.png) no-repeat 0 -200px;}
#selsteps-b li#step-b{ background:url(../images/steps.png) no-repeat -200px -200px;}
#selsteps-c li#step-c{ background:url(../images/steps.png) no-repeat -400px -200px;}
#selsteps-d li#step-d{ background:url(../images/steps.png) no-repeat -600px -200px;}
