/* CSS Document */

*{margin:0; padding:0}
body{font-family:"&#23435; &#20307; "; font-size:12px; background:url(../images/bg.jpg) repeat-x scroll 0 0 #CAF85D}
img{border:none}
a{text-decoration:none; color:#000}
a:hover{text-decoration:underline; color:#FCA611}
#container{width:900px; margin:0 auto; background-color:#fff}
#links{width:850px; height:40px; line-height:40px; text-align:right; padding-right:50px; background-color:#78CB00}
#top{width:817px;  margin:0 auto}
  #logo{  width:812px;   margin-top:10px;   padding-left:15px}
  #banner{  width:817px;   height:207px;   margin-top:10px;   position:relative;   background:url(../images/001.jpg) no-repeat scroll 0 0}
      #menu{  width:817px;   height:48px;   position:absolute;   top:15px;   font-size:14px;   background:url(../images/menu_bg.png) no-repeat scroll 0 0}
  
  #menu a{text-decoration:none; color:#000}
#menu a:hover{text-decoration:underline; color:#000; background-color:#FCA611}
.main-menu{        width:792px; color:#000; padding-left:25px}
.main-menu ul{list-style:none; height:35px; line-height:35px; padding-top:4px}
.main-menu .main-li{float:left; margin-top:10px; margin-left:3px; height:35px; line-height:35px; position:relative; z-index:1; list-style:none; color:#000}
.main-menu .main-li a{display:block; font-weight:bold}
.main-menu .main-li .li-a{float:left}
.main-menu .main-li .li-a{width:80px; text-align:center; color:#000}

.main-menu .main-li .sub-menu{position:absolute; top:28px; display:none; z-index:2; left:0; width:80px; text-align:center; background-color:#FCA611; color:#000}
.main-menu .main-li .sub-menu-two{position:absolute; top:0px; display:none; z-index:3; left:80px; text-align:center; color:#000}
.sub-menu-two a{width:80px; background-color:#c2c48d; float:none}
.sub-menu .li2-a{background-color:#EAEACF; float:none; width:80px}
.sub-menu a:hover{background-color:#000}
#main{width:817px; margin:0 auto; margin-top:10px}
   #shopmenu{   height:25px;    margin-left:2px;    line-height:25px;    text-indent:50px;    font-size:15px;    font-weight:bold;    background:url(../images/main_bg.jpg) no-repeat scroll 0 0}
    #shopcontent{width:755px; padding-left:50px; margin-top:10px}
  #contentleft{  width:530px;   float:left}
     .leftCategory{ width:530px;  margin-top:25px;  height:104px;  float:left;  position:relative;  border-bottom:1px dashed #D3D3D3}
           .imgwrap{            width:133px;             height:100px;             float:left}
             .list{ width:207px;  height:90px;  padding-left:20px;  padding-top:8px;  float:left}
 .list span{ color:#FD5900;  width:207px;  font-weight:bold}
 .list p{ line-height:1.6}
 .buy{ width:130px;  float:left}
  #contentright{  width:210px;   padding-left:13px;   float:left}
  #contentright span{  font-weight:bold}
  #contentright ul{  list-style:none;   padding-left:18px;   padding-top:10px;   line-height:1.6}
  #contentright ul li{background:url(../images/bg.gif) no-repeat scroll 0 8px transparent; padding-left:8px;}
     #righttop, #rightcenter, #rightbottom{ width:210px;  height:209px;  border:1px solid #E1E1E1;  margin-top:8px}
 #righttop{ margin-top:0}
   .more{   position:absolute;    left:150px;    top:0;    font-family:Arial,Helvetica,sans-serif;    font-size:8px}
   #toptitle{ height:25px;  line-height:25px;  position:relative;  text-indent:15px;  background-color:#88D12C}
   
 
   
   #centertitle{ height:25px;  line-height:25px;  text-indent:15px;  position:relative;  background-color:#FDD800}
  #bottomtitle{ height:25px;  line-height:25px;  text-indent:15px;  position:relative;  background-color:#FD7700}
 
#footer{width:817px; margin:0 auto}
 #bottommenu{  width:504px;   margin:0 auto;   margin-top:80px;   padding-bottom:20px;   height:24px;   line-height:24px;   background:url(../images/footer.jpg) no-repeat center center}
 #bottommenu ul{ list-style:none;  height:20px;  padding-left:15px;  line-height:20px;  padding-top:13px!important;  padding-top:20px}
 #bottommenu li{ display:block;  float:left;  margin-left:10px}
