@charset "utf-8";
* {
	margin: 0px;
	padding: 0px;
}
body{
	font-family:"宋体";
	font-size:12px;
	cursor:auto;
	}
.big{
	width:1000px;
	margin:0 auto 0 auto;
	}
a{
	color:#000000;
	text-decoration:none;
	}
a:hover{
	color:#0000FF;
	text-decoration:underline;
	}
.up{
	width:1000px;
	}
.up_left{
	width:202px;
	height:100px;
	float:left;
	}
.up_right{
	width:798px;
	height:100px;
	float:left;
	background-image:url(../img/up01.jpg);
	background-repeat:no-repeat;
	}
.zhu{
	list-style-type:none;
	margin:20px 0 0 50px;
	}
.zhu li{
	float:left;
	}
.zhu ul{
	display:none;
	}
/*--------------down-------------*/
.down{
	width:1000px;
	}
.d_left{
	width:160px;
	height:612px;
	float:left;
	background-image:url(../img/down-left.jpg);
	background-repeat:no-repeat;
	}
.d_left ul{
	margin-top:10px;
	}
.d_right{
	width:840px;
	float:left;
	}
.r_down{
	width:840px;
	margin-top:-4px;
	}
.r_d_left{
	width:363px;
	height:194px;
	float:left;
	background-image:url(../img/down-right01.jpg);
	background-repeat:no-repeat;
	}
.r_d_left ul{
	margin:66px 0 0 100px;
	list-style-type:none;}
.r_d_right{
	width:477px;
	height:194px;
	float:left;
	background-image:url(../img/down-right02.jpg);
	background-repeat:no-repeat;
	}
.rdr_left{
	width:235px;
	float:left;
	margin:30px 0 0 5px;
	}
.rdr_right{
	width:171px;
	float:left;
	margin:30px 0 0 25px;
	}
/*---------------foot------------------*/
.foot{
	width:1000px;
	height:88px;
	background-image:url(../img/foot-bg.jpg);
	background-repeat:no-repeat;
	text-align:center;
	}
.foot p{
	margin-top:10px;
	color:#FFFFFF;
	}
.foot a{
	color:#FFFFFF;
	text-decoration:none;
	}
.foot a:hover{
	color:#66CCCC;
	text-decoration:underline;
	}