@charset "utf-8";
/* CSS Document */
* { margin:0; padding:0;}
img { border:none;}
body {
	font-family:"宋体";
	font-size:12px;
	color:#6A6868;
}
a {
	color:#6A6868;
	text-decoration:none;
}
a:hover {
	color:#0C8ABD;
}
#container {
	width:775px;
	margin:0 auto;
	position:relative;
	z-index:1;
}
 #top {
	 width:775px;
	 height:324px;
	 position:relative;
	 z-index:1;
	 background:url(../images/banner.jpg) no-repeat scroll 0 0;
 }
   #logo {
	   width:165px;
	   height:27px;
	   position:absolute;
	   top:55px;
	   left:45px;
	   z-index:1;
   }
   #links {
	   width:180px;
	   height:20px;
	   position:absolute;
	   right:-10px;
	   top:57px;
	   z-index:1;
   }
   #menu {
	   width:110px;
	   height:180px;
	   position:relative;
	   top:108px;
	   left:550px;
	   color:#fff;
	   font-size:14px;
	   font-weight:bold;
	   z-index:10;
	 
   }
   #menu a {
	   color:#fff;
	   text-decoration:none;
   }
   #menu a:hover {
	   color:#F4F719;
	   text-decoration:none;
   }
  
      #nav {
		position:absolute;
		top:0;
		left:0;
		z-index:100;
		}
	#nav ul {
		list-style-image:url(../images/icon_05.jpg);
		list-style-position:inside;
	}
	#nav li {
		line-height:2.0;
		vertical-align:top;
		padding-bottom:2px;
	}
	#nav li ul {
		display:none;
		list-style:none;
		list-style-image:none;
	}
	#nav li li {
		margin-top:5px;
		background-color:#FFDFEA;
		width:90px;
		text-align:center;
		margin-left:15px;
	}
 #main {
	 width:775px;
	 height:593px;
	 position:absolute;
	 z-index:1;
	 background:url(../images/main_bg.jpg) repeat-y scroll 0 0;
 }
    #left {
		position:absolute;
		top:-140px;
		left:65px;
		width:210px;
		height:733px;
	}
	#left .title {
		width:161px;
		height:26px;
	}
	#left ul {
		width:190px;
		padding:10px 0 0 20px;
		list-style:none;
	}
	#left li {
		line-height:1.6;
	}
	#right {
		position:absolute;
		top:20px;
		left:312px;
		width:447px;
		height:576px;
		z-index:3;
	}
	#right .title {
		padding-left:15px;
		color:#000;
		font-size:14px;
		font-weight:bold;
	}
	   #companypro {
		   padding-left:10px;
	   }
	   #companypro  p {
		   padding:10px 2px 0 15px;
		   text-indent:2em;
		   line-height:1.3;
	   }
	   #companypro  p  span {
		   color:#0C8ABD;
		   font-family:Georgia, "Times New Roman", Times, serif;
		   font-size:9px;
	   }
	   #schoolpro {
		   padding-left:10px;
	   }
	    #schoolpro  p  span {
		   color:#0C8ABD;
		   font-family:Georgia, "Times New Roman", Times, serif;
		   font-size:9px;
		   cursor:pointer;
	   }
	   #schoolpro .img {
		   float:left;
		   border:1px solid #000;
	   }
	   #schoolpro p {
		   float:left;
		   text-indent:2em;
		   line-height:1.3;
		   padding:0px 0 0 18px;
		   width:300px;
	   }
	   #slogan {
		   width:447px;
		   margin-top:32px;
		   float:left;
		   height:25px;
		   line-height:25px;
		   text-indent:95px;
		   font-size:14px;
		   color:#000;
		   font-weight:bold;
		   background-color:#D4D3D3;
	   }
	   #program_01, #program_02 {
		   padding:10px 0 0 10px;
		   float:left;
	   }
	   #program_01,#program_02  .title1 {
		   color:#0C8ABD;
		   font-weight:bold;
		   font-size:12px;
		   padding-top:8px!important;padding-top:2px;
	   }
	   #program_01 p {
		   text-indent:2em;
		   padding-top:2px;
		   font-weight:normal;
		   color:#000;
		   line-height:1.3;
	   }
	   #program_02 p {
		   text-indent:2em;
		   padding-top:2px;
		   font-weight:normal;
		   color:#000;
		    line-height:1.3;
	   }
	    #program_02 p span {
			text-align:right;
			color:#0C8ABD;
		   font-family:Georgia, "Times New Roman", Times, serif;
		   font-size:9px;
		   float:right;
		   padding:5px 5px 0 0;
		}
.clear {
	clear:both;
	line-height:0;
	height:0;
}
 #footer {
	 width:775px;
	 height:89px;
	 position:absolute;
	 top:917px;
	 z-index:2;
	 background:url(../images/footer_bg.jpg) no-repeat scroll 0 0;
 }
 #footer p {
	 padding:10px 0 0 320px;
	 color:#C1BBBB;
 }
