@charset "utf-8";
/* = 网格样式
------------------------------------------------------------ */
.container_12 {
	width:960px;
	margin:0 auto;
}
.grid_4, .grid_8, .grid_12 {
	display:inline;
	float:left;
	margin-left:10px;
	margin-right:10px
}
.grid_4 { width:300px; }
.grid_8 { width:620px; }
.grid_12 { width:940px }
.alpha { margin-left:0; }
.omega { margin-right:0; }

/* = 网站标识
------------------------------------------------------------ */
#A-header #virtual-dell-logo {
	background:url(../images/virtual_dell_logo.png) no-repeat;
	width:163px;
	height:24px;
	position:absolute;
	left:10px;
	top:25px;
	text-indent:-9999px;
}
/* = 布局样式
------------------------------------------------------------ */
body { background:#306BAD url(../images/bg_body.png) repeat-x; }
/* = 网站头部
------------------------------------------------------------ */
#A-header {
	height:100px;
	position:relative;
}
/* = 网站内容
------------------------------------------------------------ */
#A-content { background:#fff url(../images/bg_content.gif) no-repeat left bottom; }
/* = 网站页脚
------------------------------------------------------------ */
#A-footer {
	height:36px;
	position:relative;
}
/* = 网站版权信息
------------------------------------------------------------ */
#copyright {
	position:absolute;
	top:10px;
	right:10px;
}
