*{
	margin:0px;
	padding:0px;}
body{
	background:#c0c0c0;
	font-size:12px;
	font-family:"宋体";}
.bigmain{
	background:#e0e0e0;
	margin:0 auto;
width:776px;
height:1199px;
border-left:1px #000 solid;
border-right:1px #000 solid;
	}
.litlemian{
	padding-top:15px;
	width:744px;
	float:left;
	height:1179px;
	padding-left:15px;
	}
.main{
	width:741px;
	float:left;
	background:#FFF;
	padding-left:3px;}
.head{
	background:url(images/head.jpg) no-repeat;
	height:81px;
	float:left; 
	width:738px;}
.headleft{
	
	float:left;
	width:195px;
	height:192PX;}
.headright{
	width:542px;
	height:191px;
	float:left;
	background:url(images/downpic.jpg)}
.headdown{
	overflow:hidden;
	padding-bottom:3px;
	float:left;
	width:738px;
	background:url(images/middpic.jpg);
	height:6px;}
.middmain{
	width:738px;
	height:846px;
	float:left;}
.middmainleft{
	background:#d7e7eb;
	width:193px;
	float:left;
	height:822px;}
.title{
	color:#FFF;
	line-height:25px;
	padding-left:10px;
	background:#bf302c;
	width:183px;
	height:25px;
	float:left;}
.middmainleftcontent{
	padding-left:8px;
	padding-right:8px;
	border:1px #e1e1e1 solid;
	border-top:3px #FFF solid;
	width:175px;
	height:797px;
	float:left;
	background:#d7e7eb;}
.midd{
	width:529px;
	float:left;
	height:822px;
	padding-left:3px;}
.kuai{
	line-height:16px;
	padding-top:15px;
	border:1px #CCC solid;
	border-right:0px;
	width:175px;
	height:123px;
	float:left;}
.biaojia{
	padding-bottom:25px;
	padding-top:15px;
	width:150px;
	float:left;
	line-height:20px;
	text-align:center;}
.leftcon{
	width:175px;
	padding-top:10px;
	float:left}
.title2{

	line-height:24px;
	height:24px;
	width:175px;
	float:left;}
.title2 font{
	font-size:12px;
	line-height:24px;
	height:24px;
	
	float:left;}
.liul{
	
	width:173px;
	float:left;}
.liul li{
	list-style-type:none;
	padding-left:30px;
	border-bottom: 1px #d7e7eb solid;
	background:#e7f8fc;
	line-height:18px;
	width:145px;
	float:left;
	height:18px;}
.rightbian{
	width:13px;
	float:left;
	height:422px;
	background:url(images/rightbian.jpg) repeat-y}
.buttom{
	
	width:741px;
	float:left;
	height:50px;}
.leftbuttom{font-size:10px;
	color:#e2dada;
	text-align:center;
	padding-top:15px;
	width:200px;
	height:35px;
	float:left;
	background:#707070}
.rightbuttom{
	padding-top:15px;
	padding-left:35px;
	width:506px;
	height:35px;
	float:left;
	background:#f0f0f0}

.rightbuttom li{
	line-height:32px;
	text-align:center;
	float:left;
	width:85px;
	list-style-type:none;}
.leftlitlecontent{
	float:left;
	padding-left:5px;
	width:63px;}
.top{
	padding-top:20px;
	padding-left:10px;
	float:left;
	width:181px;
	height:31px;
	background:url(images/top.jpg)}
.down{
	
	float:left;
	width:191px;
	height:140px;}
.down li{
	list-style-type:none;
	padding-left:15px;
	border-bottom:1px #FFF solid;
	width:176px;
	height:27px;
	line-height:27px;
	float:left;
	background:url(images/littlemeun.jpg)}
.daohan{
	float:left;
	padding-left:412px;
	padding-top:28px;
	
	}
.xiala{
	color:#FFF;
	float:left;
	padding-left:30px;
	padding-top:167px;}
a, a:link,a:visited{
	color:#000; text-decoration:none;}
a:hover{
	color:#999;
	text-decoration:none}

.down a,.down a:visited,.down a:link{
	color:#CCC; text-decoration:none;}
.down a:hover{ color:#666; text-decoration:none}
.title a, .title a:visited,.title a:link{ color:#FFF; text-decoration:none;}
.title a:hover{
	color:#666; text-decoration:none}