*{
	padding:0px;
	margin:0px;}
body{
	font-size:12px;
	font-family:"ו";}
ul,li{
	list-style-type:none;}
.main{
	width:998px;
	height:830px;
	border:1px #000 solid;
	margin:0 auto;
	}
.head{
	width:998px;
	background:url(Images/head.jpg);
	height:191px;
	float:left;}
.menu{
	font-weight:bold;
	line-height:22px;
	height:22px;
	text-align:center;
	padding-left:60px;
	padding-top:154px;}
.menu li{
	text-align:center;
	float:left;
	width:100px;}

.middmain{
	width:998px;
	background:url(Images/maincolor.jpg);
	height:577px;
	float:left;}
.leftmain{
	width:773px;
	height:577px;
	float:left;
	padding-left:2px;}
	
.huandeng{
	overflow:hidden;
	width:362px;
	height:285px;
	float:left;
	}
.title{
	float:left;
	background:url(Images/title.jpg);
	width:403px;
	height:41px;}
.list{
	height:243px;
	border:1px #949494 solid;
	border-top:0px;
	width:403px;
	float:left;
	line-height:21px;}
.list ul{
	width:403px;
	float:left;}
.list li{
	background:url(Images/dian.jpg) no-repeat scroll 25px 5px transparent;
	padding-left:40px;
	float:left;
	width:360px;
	}
.title2{
	float:left;
	width:352px;
	background:url(Images/title2.jpg);
	height:46px;}
.pictu{
	border:1px #949494 solid;
	border-top:0px;
	
	
	width:326px;
	height:242px;
	float:left;
	
	}
.downleftcontent{
	border:1px #949494 solid;
	border-top:0px;
	line-height:16px;
	width:405px;
	float:left;
	height:242px;
	}
.downleftcontent li{
	line-height:12px;
	padding-left:20px;
	padding-top:10px;}
.rightmain{
	height:577px;
	width:220px;
	float:left;}
.denlu{
	padding-top:15px;
	float:left;
	width:220px;
	
	height:155px;}
.rightmaindown{
		border:1px #949494 solid;
	border-top:0px;
	width:210px;
	float:left;
	height:357px;}
.litlecontent{
	padding-left:10px;
	line-height:16px;
	padding-top:7px;
	padding-bottom:7px;
	width:200px;
	height:105px;
	float:left;}
.buttom{
	color:#FFF;
	width:998px;
	background:url(Images/buttom.jpg);
	height:63px;
	float:left;
	text-align:center;
	vertical-align:middle;
	line-height:63px;}
a,a:visited,a:link{
	color:#000; text-decoration:none}
a:hover{
	color:#666}
.menu a,.menu a:visited,.menu a:link{ color:#FFF}
.menu a:hover{ color:#000}

.titlea a,.titlea a:visited,.titlea a:link{
	color:#e65810; text-decoration:none}
.titlea a:hover{
	color:#F00; text-decoration:none}