*{
	margin:0px ;
	padding:0px;
	}
ul li{
	list-style-type:none}
body{
	font-size:12px;
	font-family:"宋体";
	color:#625e5e;}
.main{
	
	margin:0 auto;
	width:1003px;
	height:760px;
	border-left:1px #000 solid;
	border-right:1px #000 solid;
	}
.leftbian{
	float:left;
	width:114px;
	background:url(images/leftbian.jpg) repeat-y;
	height:760px;}
.rightbian{
	
	float:left;
	width:110px;
	background:url(images/rightbiab.jpg) repeat-y;
	height:760px;}
.midd{
	padding-top:20px;
	padding-left:40px;
	width:737px;
	height:740px;
	float:left;}
.head{
	background:url(images/head.jpg) no-repeat;
	width:694px;
	height:92px;}
.headdown{
	
	background:url(images/headdwon.jpg) no-repeat;
	height:134px;
	width:694px;}
.title{
	width:694px;
	float:left;}
.mainleft{
	
	border:1px #999 solid;
	overflow:hidden;
	width:180px;
	height:341px;
	float:left;}
.lefttitle{
	color:#000;
	font-weight:bold;
	padding-left:15px;
	width:164px;
	height:28px;
	line-height:28px;
	float:left
	
	}
.leftlist{
	width:179px;
	float:left;}
.leftlist li{

	
	border-bottom:2px #FFF solid;
	background:#f2f2f2 ;
	padding-left:15px;
	width:164px;
	height:17px;
	line-height:16px;}
.middxian{
	float:left;
	width:2px;
	height:331px;}
.rightmain{
	overflow:hidden;
	border:1px #999 solid;
	height:341px;
	width:508px;
	float:left;}
.kuai{

	padding:5px;
	padding-top:10px;
	width:243px;
	height:153px;
	float:left}
.litle2{
	color:#a3a1a1;
	font-weight:bold;
	line-height:18px;
	padding-left:10px;
	font-size:14px;
	font-family:"黑体";
	width:233px;
	float:left;
	height:18px;
	}
.litlecontent{
	line-height:15px;
	padding-top:6px;
	width:111px;
	float:left;
	height:60px;}
.xun2{
	width:111px;
	height:4px;
	float:left;
	background:url(images/xun2.jpg);
	overflow:hidden;}
.jia{
	color:#000;
	float:left;
	width:111px;
	line-height:24px;
	height:24px;}
.leftpic{
	background:url(images/rightpic.jpg) no-repeat;
	width:511px;
	float:left;
	height:74px;
	}
.leftpic ul{
	}
.leftpic li{
	padding-top:5px;
	text-align:center;
	float:left;
	width:123px;}
.headcontent{
	float:right;
	width:500px;
	height:65px;}
.list{
	width:111px;
	height:50px;
	float:left}
.list li{
	padding-left:10px;
	line-height:16px;
	background: url(images/jiao2.jpg) no-repeat scroll 0px 5px transparent;
	width:101px;
	float:left;
	}
.sou{
	padding-left:26px;
	float:left;
	width:113px;
	height:50px;}
.shop{
	padding-left:7px;
	padding-top:7px;
	height:43px;
	float:left;
	width:125px;}
.menu{
	float:right;
	width:500px;
	height:20px;
	}
.leftcontent{
	color:#1970ad;
	padding-left:10px;
	width:160px;
	float:left;
	padding-top:20px;}
.buttom{
	padding-top:15px;
	color:#9c9c9c;
	text-align:center;
	float:right;
	width:511px;
	height:55px;}
	
.leftlist a,.leftlist a:visited,.leftlist a:link{
	color:#666; text-decoration:none}
.leftlist a:hover{
	color:#000; text-decoration:none}
	
.litlecontent a,.litlecontent a:visited,.litlecontent a:link{
	color:#666; text-decoration:none}
.litlecontent a:hover{
	color:#000; text-decoration:none}
	
.list a,.list a:visited,.list a:link{
	color:#1970ad; text-decoration:none}
.list a:hover{
	color:red; text-decoration:none}
	
	
.buttom a,.buttom a:visited,.buttom a:link{
	color:#333; text-decoration:none}
.buttom a:hover{
	color:red; text-decoration:none}