@charset "utf-8";
/* CSS Document */
h2 a {
	background-image: none;
	/*position: relative;*/
    width:113px;
	height:72px;
	background:url(../images/logo-okb-es.gif);
	display:block;
	text-indent:-2000px;
	cursor:hand;
}
ol li {
	background-image: none;
	float:left;
	padding:0;
	list-style:none;
	background-repeat:no-repeat;
	background-position:0 4px;
}
ol #nosotros {
	background-image:none !important;
}
ol a {
	display:block;
	background-repeat:no-repeat; /*width:95px;*/
	height:73px;
	text-indent:-3000px;
	overflow:hidden;
	background-position:0 0;
	background-repeat:no-repeat;
	cursor:hand;
}
ol li#nosotros a {
	width:94px;
	margin:0 18px 0 0
}
ol li#servicios a {
	width:120px;
	margin:0 18px
}
ol li#trabajos a {
	width:169px;
	margin:0 18px
}
ol li#contacto a {
	width:100px;
	margin:0 0 0 18px
}
#nosotros a {
	background: url(../images/nosotros.jpg) no-repeat
}
#servicios a {
	background: url(../images/servicios.jpg) no-repeat
}
#sec-trabajos #contenedor #contenido ol li#servicios a {
	background: url(../images/servicios-trabajos.jpg) no-repeat
}
#trabajos a {
	background: url(../images/trabajos.jpg) no-repeat
}
#sec-trabajos #contenedor #contenido ol li#trabajos a {
	background: url(../images/trabajos-trabajos.jpg) no-repeat
}
#contacto a {
	background: url(../images/contacto.jpg) no-repeat
}
.der {
	float:left;
	margin:0 0 0 47px;
	font-size:.75em;
	background:none;
}
.izq {
	position:relative;
}
.cont-home .izq h3 {
	background-image: none;
	width:307px;
	height:97px;
	text-indent:-5000px;
	background:url(../images/texto-home.jpg) no-repeat;
}
.vcard {
	margin:0 0 0 20px;
	width:217px;
	height:430px;
	background:url(../images/vcard-06.jpg) no-repeat bottom;
}
.vcard #url {
	width:217px;
	height:165px;
	background:url(../images/vcard-01.jpg) no-repeat;
	text-indent:-5000px;
}
.vcard #direccion {
	width:217px;
	height:91px;
	background-image: none;
	background:url(../images/vcard-02.jpg) no-repeat;
	text-indent:-5000px;
}
.vcard #direccion .adr #provincia {
	text-indent:-5000px;
}
.vcard #tel {
	width:217px;
	height:47px;
	background-image: none;
	background:url(../images/vcard-03.jpg) no-repeat;
	text-indent:-5000px;
}
.vcard #fax {
	width:217px;
	height:39px;
	background-image: none;
	background:url(../images/vcard-04.jpg) no-repeat;
	text-indent:-5000px;
}
#emailc a {
	display:block;
	position:relative;
	width:217px;
	height:39px;
	background-image: none;
	background:url(../images/vcard-05.jpg) no-repeat;
	text-indent:-5000px;
	cursor:hand;
}
#trabaja h4 {
	padding:0;
	margin:0;
	width:218px;
	height:68px;
	background: url(../images/trabaja-con-nosotros.jpg);
	text-indent:-5000px;
}
#otto h4 {
	padding:0;
	margin:-10px 0 20px 30px;
	width:218px;
	height:143px;
	background:url(../images/otto-es-genial.jpg) no-repeat;
	text-indent:-5000px;
}
#caso h4 {
	padding:0;
	margin:0;
	width:218px;
	height:78px;
	background:url(../images/caso-practico.jpg);
	text-indent:-5000px;
}
.der ul li {
	padding:4px 0 4px 17px;
	background-image:url(../images/+.gif);
	background-repeat:no-repeat;
	background-position:2px 9px;
}
.der ul li a {
	background: none;
	color:#a2ab73;
	padding:0;
	text-decoration:underline;
}
a {
	color:#a2ab73;
	text-decoration:underline;
	background-image:none;
	outline:none
}
.cont-servicios .izq .cab-imagen {
	width:250px;
	height:63px;
	background: url(../images/titulo-imagen-corporativa.jpg);
	text-indent:-5000px;
	padding:0;
	margin:0 0 20px 0;
	border:none;
}
.cont-servicios .izq .cab-imagen-01 {
	width:178px;
	height:27px;
	background: url(../images/titulo-imagen-corporativa-01.jpg);
	text-indent:-5000px;
	border:none;
	padding:0;
	margin:25px 0 0 0;
}
.der-submenu p {
	background-image:none;
}
.cont-servicios .izq .cab-imagen-02 {
	background: url(../images/titulo-imagen-corporativa-02.jpg);
	width:212px;
	height:27px;
	text-indent:-5000px;
	border:none;
	padding:0;
	margin:25px 0 0 0;
}
.der-submenu ul {
	border-top:1px solid #154e45;
	background-image:none;
	padding:0;
	margin:0;
	list-style:none;
	font-size:1.3em;
	height:535px;
}
.der-submenu ul li {
	border-bottom:1px solid #154e45;
	padding:0;
	margin:0;
	line-height:1.2em;
}
.der-submenu ul li a {
	color:#FFF;
	display:block;
	font-size:.85em;
	text-decoration:none;
	padding:8px 15px;
	background:none;
}
.der-submenu ul li a:hover {
	background-image:none;
	background-color:#001B18;
}
.der-submenu ul#paginas li#li-paginas, .der-submenu ul#blog li#li-blog, .der-submenu ul#demo li#li-demo, .der-submenu ul#optimizacion li#li-optimizacion, .der-submenu ul#imagen li#li-imagen, .der-submenu ul#consultoria li#li-consultoria {
	background-image:none;
	background-color:#001B18;
}
.der-submenu ul#paginas a#e-paginas, .der-submenu ul#blog a#e-blog, .der-submenu ul#demo a#e-demo, .der-submenu ul#optimizacion a#e-optimizacion, .der-submenu ul#imagen a#e-imagen, .der-submenu ul#consultoria a#e-consultoria {
	padding:8px 15px 8px 30px;
	background:url(../images/actual.gif) no-repeat 10px center;
}
/* Diseno web*/
.cont-servicios-diseno .izq .cab-imagen {
	width:290px;
	height:30px;
	padding:0;
	margin:0 0 10px 0;
	border:none;
	background:url(../images/titulo-diseno-web.jpg) no-repeat;
	text-indent:-5000px;
}
/* Blogs*/
.cont-servicios-blogs .izq .cab-imagen {
	width:236px;
	height:30px;
	padding:0;
	margin:0 0 10px 0;
	border:none;
	background:url(../images/titulo-blogs-corporativos.jpg) no-repeat;
	text-indent:-5000px;
}
/* Demos*/
.cont-servicios-demos .izq .cab-imagen {
	width:334px;
	height:63px;
	padding:0;
	margin:0 0 10px 0;
	border:none;
	background-image: none;
	background:url(../images/titulo-demos-interactivas.jpg) no-repeat;
	text-indent:-5000px;
}
/* Optimizacion*/
.cont-servicios-optimizacion .izq .cab-imagen {
	width:208px;
	height:63px;
	padding:0;
	margin:0 0 10px 0;
	border:none;
	background-image: none;
	background:url(../images/titulo-optimizacion-buscadores.jpg) no-repeat;
	text-indent:-5000px;
}
/* Imagen papel*/
.cont-servicios-imagen .izq .cab-imagen {
	width:250px;
	height:63px;
	padding:0;
	margin:0 0 10px 0;
	border:none;
	background-image: none;
	background:url(../images/titulo-imagen-corporativa.jpg) no-repeat;
	text-indent:-5000px;
}
.cont-servicios-imagen .izq .cab-imagen-01 {
	width:178px;
	height:27px;
	background-image: none;
	background:url(../images/titulo-imagen-corporativa-01.jpg) no-repeat;
	text-indent:-5000px;
	border:none;
	padding:0;
	margin:10px 0 0 0;
}
.cont-servicios-imagen .izq .cab-imagen-02 {
	width:212px;
	height:27px;
	background-image: none;
	background:url(../images/titulo-imagen-corporativa-02.jpg) no-repeat;
	text-indent:-5000px;
	border:none;
	padding:0;
	margin:10px 0 0 0;
}
/* Consultoria*/
.cont-servicios-consultoria .izq .cab-imagen {
	width:256px;
	height:63px;
	padding:0;
	margin:0 0 10px 0;
	border:none;
	background-image: none;
	background:url(../images/titulo-consultoria-estrategias.jpg) no-repeat;
	text-indent:-5000px;
}
/* SEO/SEM*/
.cont-servicios-seosem .izq .cab-imagen {
	width:137px;
	height:30px;
	padding:0;
	margin:0 0 10px 0;
	border:none;
	background-image: none;
	background:url(../images/titulo-seo-sem.jpg) no-repeat;/*no image*/
	text-indent:-5000px;
}
/* QUE HACEMOS */
.cont-servicios-que-hacemos .izq .cab-imagen {
	width:173px;
	height:30px;
	padding:0;
	margin:0 0 10px 0;
	border:none;
	background-image: none;
	background:url(../images/titulo-que-hacemos.jpg) no-repeat;
	text-indent:-5000px;
}
.cont-contacte .izq h3 {
	height:39px;
	background:url(../images/contacto.jpg) no-repeat;
	text-indent:-5000px;
	padding:0;
	margin:0;
}
.cont-contacte .der {
	background-image:none;
}
#sec-trabajos #contenido .trabajos-realizados p {
	width:197px;
	height:38px;
	background:url(../images/tra-proyectos-rea.jpg);
	position:absolute;
	left: 691px;
	top: 167px;
	text-indent:-5000px;
}
#caso-practico h3 {
	background:url(../images/caso-practico-tit.jpg) no-repeat;
	width:197px;
	height:29px;
	text-indent:-5000px;
}
