* {
	margin:0px;
	padding:0px;
}
ul, li {
	list-style-type:none;
}
body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	margin:0;
	background:#999;
	color:#8050ae;
	line-height:20px;
}
#main {
	background:#FFF;
	width:767px;
	height:1129px;
	margin:0 auto;
}
#body {
	margin-left:13px;
	margin-right:13px;
}
.head {
	width:741px;
	height:27px;
	background:#e7e7e7;
}
.pic {
	height:267px;
	width:741px;
}
.picleft {
	float:left;
	margin-right:1px;
	width:230px;
	height:267px;
}
.piclefttop {
	background:url(login.jpg);
	border:1px #bababa solid;
	height:109px;
}

.picleftbuttom {
	background:url(%E6%9C%AA%E5%91%BD%E5%90%8D.jpg) repeat-y;
	background:#e4bd35;
	height:157px;
	margin-top:1px;
}
.picleftbuttom ul li {
	color:#fcff00;
	float:left;
	width:202PX;
	font-weight:bold;
	font-size:14px;
	font-family:"宋体";
	height:30px;
	line-height:30px;
	border-bottom: 1px dashed #cccccc;
}
.picleftbuttom a,.picleftbuttom a:link,.picleftbuttom a:visited {
	color:#fcff00;
}
.picleftbuttom a:hover
{
color:#fff;
	}

.picright {
	background:url(001.jpg);
	float:right;
	height:267px;
	width:507px;
}
.main {
	float:left;
	width:741px;
	height:692px;
}
.mainleft {
	float:left;
	width:230px;
	height:300px;
}
.title {
	padding-left:10px;
	line-height:35px;
	color:#FFF;
	font-size:14px;
	font-family:"黑体";
	font-weight:bold;
	background:url(title.jpg);
	width:220px;
	height:35px;
}
.mainlefttopcontent {
	width:230px;
	height:300px;
	background:#efe1e4;
	overflow:hidden;
}
.leftpic {
	background:#FFF;
	width:198px;
	height:144px;
	float:left;
	margin:20px 15px 15px 15px;
	display:inline;
}
.image {
	margin:2px;
	width:194px;
	height:140px;
	background:url(003.jpg)
}
.leftcontentdown {
	background:#f6f1f3;
	line-height:16px;
	color:#C06;
	padding:5px;
	float:left;
	margin:0px 5px;
	width:210px;
	height:95px;
	margin-bottom:5px;
}
.mainlefttopcontent {
	background:#efe1e4;
}
.mainlefttopcontent ul a:link,.mainlefttopcontent ul a:visited{
	color:#bd1c45;
	padding-top:10px;
}
.mainlefttopcontent ul li {
	margin-left:6px;
	font-family:"宋体";
	font-size:12px;
	color:#bd1c45;
	height:26px;
	line-height:26px;
	width:219px;
}
.teli {
	background:#f6f1f3;
}
.mainright {
	width:505px;
	float:right;
	display:inline;
	overflow:hidden;
}
.mainrighthau {
	margin-top:1px;
	float:left;
	background:url(hua.jpg);
	width:89px;
	height:76px;
}
.mainrighttop {
	line-height:25px;
	padding-left:70px;
	padding-top:6px;
	float:left;
	width:330px;
	height:48px;
}
.mainrighttop a:link,.mainrighttop a,.mainrighttop a:visited {
	color:#63F;
}

.mainrightdi {
	top:2px;
	float:left;
	background:url(di.jpg) no-repeat;
	width:400px;
	height:22px;
}
.bigcontent {
	
	float:none;
	line-height:20px;
	width:470px;
	margin:10px 10px 10px 15px;
}
.footertop {
	float:left;
	width:741px;
	height:29px;
	background:#7e7e7e;
}
.footer font {
	font-size:12px;
	color:#7e7e7e;
	margin-top:5px;
	line-height:30px;
	margin-top:2px;
	float:left;
	height:75px;
	width:100%;
	background:#e7e7e7;
}
.footer a:link,.footer a:visited {
	color:#7e7e7e;
}
.footer a:hover{color:#F00;}
a,a:link {
	text-decoration: none;
	color: #F00;
}
a:visited {
	text-decoration: none;
	color: #F00;
}
a:hover {
	text-decoration: underline;
	color: #F00;
}
a:active {
	text-decoration: none;
	color: #F00;
}

