*{
	margin:0px;
	padding:0px;}
body{
	font-size:12px;
	font-family:"宋体";
	color:#970a0a}
ul,li{
	list-style-type:none;}
.bigmain{
	margin:0px auto;
	border:1px #000 solid;
	width:1005px;
	height:1182px;}
.left{
	background:url(img/left.jpg);
	width:53px;
	height:1100px;
	float:left;}
.right{
	background:url(img/right.jpg);
	width:50px;
	height:1100px;
	float:left;}
.midd{
	padding:0px 10px;
	width:875px;
	height:1100px;
	float:left;}
.head{
	width:875px;
	float:left;
	background:#f15b01;
	height:31px;}
.pic{
	padding-top:5px;
	width:875px;
	float:left;
	height:257px;}
.menu{
	width:875px;
	float:left;
	background:url(img/menu.jpg);
	height:42px;
	padding-top:3px;}
.main{
	padding-top:5px;
	height:675px;
	width:875px;
	float:left;}
.mainleft{
	padding-top:15px;
	width:225px;
	float:left;
	height:674px;
	background:url(img/mainleftbian.jpg)}
.mainright{
	width:642px;
	float:right;
	height:674px;}
.mainrighttop{
	width:642px;
	height:213px;
	float:left;}
.mainrighttopcontent{
	padding-top:10px;
	padding-left:25px;
	height:163px;
	width:617px;
	float:left;
	background:#fcebd8;}
.topcntent{
	width:435px;
	float:right;
	line-height:16px;
	}
.rightmainmidd{
	padding-top:10px;
	padding-left:25px;
	height:130px;
	width:617px;
	float:left;}
.title{
	letter-spacing:7px;
	
	width:617px;
	height:35px;
	float:left;
	font-weight:bold;
	line-height:35px;
	}
.middcontent{
	padding-top:5px;
	width:600px;
	float:left;
	line-height:18px;}
.downrightmain{
	float:left;
	padding-top:10px;
	background:#fcebd8;
	width:642px;
	height:40px;}
.downlitle{
	line-height:24px;
	width:612px;
	height:24px;
	float:left;
	padding-left:30px;
	background:#d4c6b6}
.downlitlecontent{
	padding-top:10px;
	line-height:16px;
	color:#5a5a5a;
	width:600px;
	height:90px;
	float:left;
	padding-left:30px;
	
	}
.buttom{
	color:#855c5c;
	text-align:center;
	line-height:24px;
	padding-top:20px;
	width:1005px;
	height:62px;
	float:left;
	background:url(img/buttom.jpg);}
.headmenu{ width:200px;
float:right;
height:31px;
line-height:31px;
font-weight:bold;}
.menu ul{
	width:705px;
	height:42px;
	float:left;
	
	line-height:39px}
.menu li{
	margin-right:1px;
	font-weight:bold;
	text-align:center;
	list-style-type:none;
	float:left;
	font-size:16px;
	color:#FFF;
	width:115px;}
	
.menu a,.menu a:visited,.menu a:link{
	text-decoration:none;
	color:#FFF;}
.menu a:hover{
	text-decoration:none;
	}
	
.middcontent a,.middcontent a:visited,.middcontent a:link{
	text-decoration:none;
	color:#970a0a;}
.middcontent a:hover{
	text-decoration:none;
	color:#F00
	}
	
	
.downlitlecontent a,.downlitlecontent a:visited,.downlitlecontent a:link{
	text-decoration:none;
	color:#970a0a;}
.downlitlecontent a:hover{
	text-decoration:none;
	color:#F00
	}

.buttom a,.buttom a:visited,.buttom a:link{
	text-decoration:none;
	color:#855c5c;}
.buttom a:hover{
	text-decoration:none;
	color:#F00
	}
	
.headmenu a,.headmenu a:visited,.headmenu a:link{
	text-decoration:none;
	color:#970a0a;}
.headmenu a:hover{
	text-decoration:none;
	color:#F00
	}

	
div.sdmenu {
	text-align:left;
	width: 140px;
	font-size:14px;
	font-weight:100;
	color:#000;
}
div.sdmenu div {
	overflow: hidden;
}
* html div.sdmenu div{
    float:left
}
div.sdmenu div.collapsed {
	height: 32px;
}
div.sdmenu div span {
	display: block;
	line-height:32px;
	width:130px;
	font-weight: bold;
	color:#000;
	cursor: pointer;
	margin-left:10px;
	_margin-left:0px;
}
div.sdmenu div span a{
    padding:0; background:none; border:0; font-size:14px;line-height:32px;display:block
}
div.sdmenu div.collapsed {
	width:140px; color:#ad8634
}
div.sdmenu div.collapsed span{
    color:#000; line-height:32px
}
div.sdmenu div.collapsed span a.current{
    color:#ad8634;
}
div.sdmenu div a {
	padding-left:47px;
	display: block;
	color: #000;
	font-size:13px;
	line-height:28px;
	text-decoration: none;
}
div.sdmenu div a.current {
	  color:#000
}
div.sdmenu div span a.current {
	background :none; color:#fff
}
div.sdmenu div a:hover {
	text-decoration: none;
	color: #CCC;
}
div.sdmenu div span a:hover {
	background:none;
}
