*{
	margin:0px;
	padding:0px}
body{
	background:#FFF;
	font-size:12px;
	font-family:"宋体";}
ul li{
	list-style-type:none;}
.bigmain{
	margin:0 auto;
	padding:0px 44px;
	width:680px;
	background:#FFF;
	height:1299px}
.head{
	
	margin-top:50px;
	width:680px;
	height:48px;}
.headleft{
	padding-top:10px;
	padding-left:50px;
	width:150px;
	height:38px;
	float:left;
	background:url(002.jpg) no-repeat;}
.headright{
	float:right;
	width:250px;
	height:20px;
	padding-top:20px

	}
.headright ul li{
	height:20px;
	line-height:20px;
	font-size:12px;
	vertical-align:middle;
	float:right;
	margin:0px 4px;
	}
.headright a:link,.headright a:visited,.headright a:active{color:#000;}
.headright a:hover{color:#F00}
.xian{
	float:left;
	background:url(xian.png);
	width:228px;
	height:5px;}
.xianright{
	background:#3e3e3e; width:452px; height:5px; float:left}
.main{
	width:680px;
	margin-top:8px;}
.leftmain{
	overflow:hidden;
	width:224px;
	float:left;
	height:1000px;}
.lefttopmain{
	
	padding-left:25px;
	background:url(bian.png) repeat-y #eeefe9 ;
	float:left;
	width:202px;
	height:207px;}
.lefttopmain ul {
	background:url(bei.png)}
.lefttopmain li{
	font-family:"黑体";
	padding-left:30px;;
	height:25px;
	line-height:25px;
	float:left;
	font-size:14px;
	width:140px;
	border-bottom: 1px dashed  #cccccc;}
.lefttopmain a:link,.lefttopmain a:visited,.lefttopmaina:active{color:#000;}
.lefttopmain a:hover{color:#F00}
.leftmiddmain{
	background:#FFF;
	margin-top:3px;
	height:330px;
	width:224px;
	float:left;}
.leftmiddmain a:link{color:#FFF}
.leftmiddmaintitle{
	background:#cd8c00;
	width:224px;
	height:32px;
	float:left;}
.liltetop{
	padding-left:15px;
	float:left;
	width:209px;
	height:30px;
}
#leftmiddlitle{
	float:left;
	background:#d59f00 url(leftmiddmainlitle.png) right no-repeat;}
.leftmiddcontent{
	float:left;
	width:224px;
	height:138px;}
.litlepic{
	float:left;
	margin:25px 10px 25px 10px;
	width:51px;
	height:54px;
	border:1px  #999 solid;
	}
.leftrightmiddcontent{
	font-family:"宋体";
	color:#6c6767;
	line-height:17px;
	margin-top:15px;
	float:left;
	width:140px;
}
.leftbuttom{
	float:left;
	width:224px;
	}
.buttomcontent{
	font-size:12px;
	height:216px;
	float:left;
	width:215px;
	margin-top:10px;
	}
.buttomcontent li{
	
	padding-left:10px;
	margin-left:5px;
	line-height:30px;
	height:30px;
	border-bottom:1px dashed  #cccccc;
	}
.buttomcontent a:link,.buttomcontent a:visited,.buttomcontent a:active{color:#3f3f3f;}
.buttomcontent a:hover{color:#CCC}
.righttopmain{
	float:right;
	width:451px;
	background:url(001.jpg);
	height:207px;}
.rigthmidd{
	overflow:hidden;
	width:456px;
	float:right;
	margin-top:3px;
	border-bottom-style:1px #f00;}
.litlekuai{
	float:right;
	width:148px;
	margin-left:3px;}
.litlekuaititle{
	padding-left:15px;
	background:#3f3f3f;
	width:133px;
	height:32px;
	float:left;
	
	}
.litlekuaititletop{
	float:left;
	width:133px;
	height:30px;
	
	background:#3f3f3f url(blacktitle.png) right no-repeat;
	}
.litlekuaipic{
	width:133px;
	height:50px;
	margin-top:3px;
	
	float:left;}
.litlekuaicontent{
	margin-right:3px;
	margin-bottom:5px;
	float:left;
	width:148px;
	margin-top:10px;
	border-left:1px dashed #ccc;
	border-bottom:1px dashed #CCC;
	}
.litlekuaicontent ul{
	margin-bottom:5px;}
.litlekuaicontent li{
	font-family:"宋体";
	color:#6c6767;
	margin-left:25px;
	list-style-image:url(jiao.png);
	line-height:16px;
	height:14px;
	}
.litlekuaicontent a:link,.litlekuaicontent a:visited,.litlekuaicontent a:active{color:#6c6767;}


.litlekuaicontent a:hover{color:#CCC}

.leftrightmiddcontent a:link,.leftrightmiddcontent a:visited,.leftrightmiddcontent a:active{color:#6c6767;}


.leftrightmiddcontent a:hover{color:#CCC}

.xitong{
	margin-top:15px;
	float:left;
	width:437px;
	height:60px;
	margin-left:8px;}
.xitongtop{
	background:#d49c00;
	padding-left:15px;
	width:425px;
	float:left;
	height:30px;}
.xitongbuttom{
	background:#f2e1b2;
	padding-left:15px;
	width:425px;
	float:left;
	height:30px;
	}
.wenzhan{
	color:#433838;
	padding-top:20px;
	line-height:20px;
	float:left;
	width:440px;
	
	margin-top:10px;
	margin-left:10px;}
.renpic{
	float:left;
	background:url(ren.png);
	width:150px;
	height:150px;
	margin:0px 15px 20px 15px;}
.jiejue{
	margin-top:25px;
	margin-left:0px;
	background:#f2e1b2;
	padding-left:15px;
	width:433px;
	float:right;
	height:30px;
}
.fanan{
	line-height:18px;
	margin-top:15px;
	margin-left:5px;
	color:#3f3f3f;
	padding-left:10px;
	width:438px;
	float:right;
	
	
	}
.fanan a:link,.fanan a:visited,.fanan a:active{color:#d39a00;}
.fanan a:hover{color:#CCC}
.fanan font{
	color:#d39a00;
	font-family:"宋体";
	font-size:12px;}
.buttompic{
	margin-top:20px;
	padding-left:20px;
	float:left;
	width:660px;
	height:32px;
	background:#3f3f3f;}
.pic{
	padding-left:30px;
	padding-top:20px;
	float:left;
	top:50px;
	border:1px #39F solid;
	width:648px;
	height:105px;}
.img{
	float:left;
	margin:0px 15px;
	width:119px;
	height:81;
	border:1px #CCC solid;}
.buttom{
	margin-top:20px;
	float:left;
	width:680px;
	height:50px;
	}
.buttomleft{
	float:left;
	width:224px;
	height:50px;
	background:#7e2c14;}
.buttomright{
	padding-top:10px;
	padding-left:10px;
	color:#3f3f3f;
	background:#d7d5cb;
	float:left;
	width:444px;
	height:40px;}
.sosuo{
	
	text-align:center;
	padding-top:10px;
	background:#d7d5cb;
	float:left;
	width:225px;
	height:53px;
	margin-bottom:20px;
}


a,a:visited,a:active,a:link{
	text-decoration:none;
	}
a:hover {
	text-decoration:underline;
	
	color:#F00}
	
	
	
.wenzi{
	font-size:12px;
	color:#FFF;
	line-height:30px;
	width:80px;
	height:30px;}