div {
    width: 400px;
    height: 100px;
    background-color: darkslategray;
    padding: 50px;

    /*border-top-color: red;*/
    /*border-top-width: 20px;*/
    /*border-top-style: solid;*/

    /*border-top: 20px solid indigo;*/
    /*border-bottom: 20px solid indigo;*/
    /*border-right: 100px solid indigo;*/
    /*border-left: 20px solid indigo;*/

    border: 10px solid red;

    margin-left: 100px;


}

/*
w = 100 + 10 + 50 + 400 + 50 + 10 + 100
h = 100 + 10 + 50 + 100 + 50 + 10 + 100
*/

p {
    background-color: aquamarine;
    margin-top: 0px;
    margin-bottom: 0px;
}

span {
    background-color: aqua;
    margin: 0px;
}