@charset "utf-8";

h1,h2{ font-weight:bold;}

p{ 
	font:13px Verdana, Geneva, sans-serif; 
	color:#333;
}
#logo{
	font:50px "Times New Roman", Times, serif;
	font-style:italic;
	color:#fff;
	font-weight:bold;
	text-shadow:1px 1px 5px #ccc;
}
#logo sub{
	font-size:25px;
	color:#ff6;
	font-weight:bold;
}
#content p:first-line{
	font:16px Georgia, "Times New Roman", Times, serif;
	color: #060;
	font-style:italic;
}

#content p a{
	color:#F60;
}
#content p a:hover{
	color: #000;
}

#content dt{ 
	font:25px Verdana, Geneva, sans-serif;
	font-weight:bold;
}
#content dd a{ 
	font-size:12px;
}
#content dd a:hover{
	text-decoration:underline;
	color:#000;
}
#browsers_list li a{
	font:14px Tahoma, Geneva, sans-serif;
	text-decoration:none;
}
#browsers_list li a:hover{
	background: #fff;
	color:#000;
	text-decoration:underline;
	font-weight:bold;
}
#footer{
	font:12px Tahoma, Geneva, sans-serif;
}
#copyright sup{
	color:#fff;
	font-weight:bold;
}